body {
 font:normal 80% Verdana, Helvetica, Arial, sans-serif;
 padding: 0;
 margin: 0 auto;
 width: 70em;
}

header, footer, article, section, aside, nav {
    display:block;
}

table {
 width:100%;
 border: 1px solid #EEEEEE;
 border-collapse:collapse;
}

td, th {
    border: thin solid #777777;
    padding: 0.25em 0.5em;
}

article table tr:first-child {
    font-weight: bold;
}

header {
 padding: 8px;
 height: 90px;
}

#art_niche {
 float: left;
 margin-right: 1em;
 background-image: url("../images/FitNesseLogo.png");
 width: 90px;
 height: 90px;
}

#art_niche span {
	display: none;
}

header ul {
 list-style: none;
 margin: 0;
 padding: 0;
 float: left;
}

header li {
 display: inline-block;
 margin-right: 1em;
}

header h1 {
 font: bold 2em;
 margin: 20px 0;
 font-weight: normal;
 letter-spacing: 0.08em;
 margin: 20px 0;
}

header a, header a:active, header a:visited {
 color:#800000
}

header a:hover {
 text-decoration:none;
 color:#880000
}

nav {
 font-size: 0.9em;
 border-bottom: 1px solid #800000;
}

nav ul {
 float: right;
 margin-top: -2.5em;
}

nav ul li {
 display: block;
 float: left;
 list-style: none;
 text-align:center;
 z-index: 99;
}

nav a, nav a:active, nav a:visited {
 color: #000000;
 white-space:nowrap;
 text-decoration: none;
 width: 5em;
 height:1.5em;
 color: black;
 margin-right: 0.5em; 
 padding: 0.5em 3em;
 background-color: #eeeeee;
 border-radius: 0.25em;
 border: 1pt solid #aaaaaa;
}

nav a:hover, nav a:active  {
 background-color: white;
}

nav ul ul {
 background: #eeeeee; /* Adding a background makes the dropdown work properly in IE7+. */
 position: absolute;
 display: none;
 border: 1pt solid #aaaaaa;
 z-index: 999;
 width: 10em;
 margin: 0.5em 0 0 0;
 padding: .25em;
 border-radius: 0.25em;
}

nav hr {
 border: 1px solid black;
 margin: 0;
 
}

nav ul ul li {
 float: none;
 display: block;
 line-height: 1.5em;
 margin: 0;
 text-align: left;
}

nav ul ul li.divider {
 border-top: 1px solid #999999;
}

nav ul ul li a, nav ul ul li a:active {
 display: block;
 border-radius: 0px;
 padding: 0.5em;
 height: 1.5em;
 border: none;
}

nav ul ul li a:hover {
 background-color: white;
 width:9em;
}

nav ul ul li a:active {
 background-color: #eee;
}

nav li:hover ul {
	display: block;
}

article {
 padding: 0.5em;
}

footer {
  margin: 0;
  padding: 0.5em; /* Use same color as border color for div.header. */
  border-top: 1px solid #800000;
  font-size: 80%;
  text-align: center;
}

footer a, header a:active, header a:visited {
	color:#800000;
}

footer a:hover {
	text-decoration:none;
	color:#880000;
}

/** Page content (article) styles **/
h1+br, h2+br, h3+br, h4+br, h5+br, h6+br {
 display: none;
}

textarea {
	display: block;
}

fieldset {
	border: none;
	padding: 0;
	margin: 2px;
}

article h1 {
  font: bold 1.5em;
}

article a, header a:active, header a:visited {
	color:#800000;
}
article a:hover {
	text-decoration:none;
	color:#880000;
}

.dirListing tbody tr:nth-child(odd) {
 background: #fff
}

.dirListing tbody tr:nth-child(even) {
 background: #efefef
}

/** Edit page **/
.editPage label {
	width: 7em;
	float: left;
	clear: both;s
}
.editPage #pagename, .editPage #helptext {
	width: 55em;
}
.editPage fieldset {
	margin-left: 5em;
}
.editPage textarea {
	width: 100%;
	height: 32em;
}

.editPage .edit_options {
	float: right;
}

/** Properties page / Search form **/
.propertiesPage form, .searchForm form, .refactorForm form {
 padding-bottom: 1em;
 border-bottom: 1px solid #984D00;
}

.propertiesPage label, .searchForm label {
	display: inline-block;
	width: 8em;
}

.propertiesPage .properties fieldset, .searchForm .properties fieldset {
	margin-top: 1em;
}

.propertiesPage input[type=submit], .searchForm input[type=submit] {
 display: block;
 margin-top: 1em;
}

#virtual-wiki-properties {
 margin-top: 1em;
}

.propertiesPage #wiki-import label {
	display: inline;
	width: auto;
}

/** Merge page **/
.mergePage #merge-new,
.mergePage #merge-old {
	float: left;
	width: 47%;
	margin-right: 1em;
}

.mergePage textarea {
	width: 100%;
	height: 32em;
}

.mergePage #merge-old textarea{
 background-color: #efefef;
}

/** Delete page confirmation dialog **/

.warning {
	color: maroon;
}

/** Test history **/
.testHistory td a {
	text-decoration: none;
}

/** Test result **/
.pass {
	background-color: lightgreen;
}

.fail {
	background-color: red;
}

.ignore {
	background-color: lightgray;
}
