header,
footer,
article,
section,
aside,
nav {
	display:block;
}
body {
	padding: 0;
	margin: 0;
	background-color: #fafafe;
}
header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	padding: 8px;
	height: 90px;
	background-color: #d9dfc9;
	border-bottom: 1px solid gray;
}
#art_niche {
	float: left;
	background-image: url("../images/FitNesseLogo.png");
	width: 90px;
	height: 90px;
	margin: 0 68px 0 4px;
}
#art_niche span {
	display: none;
}
header ul {
	list-style: none;
}

header li {
	display: inline-block;
}
header li+li:before {
	content: " .";
}
nav {
	position: fixed;
	left: 0;
	top: 108px;
	width: 150px;
	bottom: 0;
	background-color: #d9dfc9;
}

nav ul {
	display: block;
	margin: 0;
	padding: 0;
}

nav .label {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 4px 12px;
}

nav li {
	list-style: none;
	margin: 4px 12px;
}

nav li a, nav li a:visited {
	display: block;
	padding: 6px 4px;
	border: 1px solid gray;
	width: 120px;
	text-decoration: none;
	color: black;
	background-color: #eee;
}

nav li a:hover {
	background-color: #f8f8f8;
}

nav li#add,
nav li#tools {
	border: none;
	padding: 0;
	margin: 0;
}
nav a.label {
	display:none;
}

article {
	margin: 120px 24px 24px 170px;
}

.virtual {
  background-image: url("/files/images/virtualPage.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.imported {
  background-image: url("/files/images/importedPage.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
