FitNesseRoot/JunkParent/*
FitNesseRoot/JunkPage/*
FitNesseRoot/ProjectPage/*
FitNesseRoot/ErrorLogs/*
test-results/
jsunit/
agitar/
dist/
classes/
.svn
*-*.zip
*.ipr
fitnesse*.zip
.DS_Store
target/
*.iml
*.ipr
*.iws
.idea
desktop.ini
