bin
build
out
lib/*
.gradle
.classpath
.project
.settings
*.zip
.DS_Store
*.iml
*.ipr
*.iws
.idea
.gradletasknamecache
desktop.ini
inst.log
velocity.log*
fitserverSentinel*
testHistoryDirectory/
tmp/*
FitNesseRoot/properties
FitNesseRoot/ErrorLogs/*
FitNesseRoot/files/testResults/*
FitNesseRoot/RecentChanges*
FitNesseRoot/RerunLastFailures*.wiki
junit*.properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
fitMutation/
