FitNesseRoot/JunkParent/*
FitNesseRoot/JunkPage/*
FitNesseRoot/ProjectPage/*
FitNesseRoot/ErrorLogs/*
FitNesseRoot/files/testResults/*
test-results/*
jsunit/*
agitar/*
dist/*
classes/*
.svn
*-*.zip
*.ipr
fitnesse*.zip
.DS_Store
target/*
*.iml
*.ipr
*.iws
.idea
desktop.ini
inst.log
velocity.log*
crap_build.xml
com_ibm_contest/*
FitNesseRoot/files/javascript/jsunit/*
