body {
 background-color: white;
}

p {
 margin-top: 0.5em;
 margin-bottom: 0.5em;
}

pre.wiki {
 overflow: visible !important;
 word-wrap: break-word !important;
 white-space: -moz-pre-wrap !important;
 white-space: pre-wrap !important;
}

fieldset {
 padding: 0.5em;
 margin: 0 1em 0 1em;
}

legend {
  padding-left: 16px;
}

fieldset.hidden legend:before {
  content: "< ";
}

fieldset.collapsed legend:before {
  content: "> ";
}


td {
 border: 1px solid gray;
}

