iframe.wysiwyg {
    border: 1px solid #d7d7d7;
    clear: both;
    display: block;
    -moz-user-select: none;
    -webkit-user-select: none;
}
div.trac-resizable {
    clear: both;
}
iframe.wysiwyg:focus {
    border: 1px solid #886;
}
.editor-toggle {
    float: right;
    font-size: 80%;
    margin-top: 4px;
}
.wysiwyg-toolbar {
    height: 24px;
    width: 642px;
    float: left;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.wysiwyg-toolbar ul, .wysiwyg-toolbar li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-indent: 0;
    font-size: .9em;
}
.wysiwyg-toolbar li {
    float: left;
    display: block;
    border-color: #d7d7d7;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    background-color: white;
}
.wysiwyg-toolbar li.divider {
    background-color: #D7D7D7;
    height: 22px;
    width: 4px;
}
.wysiwyg-toolbar li :link, .wysiwyg-toolbar li :visited {
    background: transparent url(menusprite.png) no-repeat;
    border: none;
    cursor: default;
    display: block;
    width: 32px;
    height: 22px;
    color: #777;
}
.wysiwyg-toolbar li.selected :link, .wysiwyg-toolbar li.selected :visited {
    border: 1px solid #7c4;
}
.wysiwyg-toolbar li a:hover, .wysiwyg-toolbar li.selected a:hover {
}
.wysiwyg-toolbar li a:active, .wysiwyg-toolbar li.selected a:active {
    width: 30px;
    height: 20px;
    border: 1px solid yellow;
}

.wysiwyg-toolbar li a#wt-style {
    width: 78px;
    white-space: nowrap;
    overflow-x: hidden;
    line-height: 1.5;
    padding-left: 2px;
    padding-right: 2px;
    background-image: url(desc.png);
    background-position: right bottom;
}
.wysiwyg-toolbar li a#wt-style span {
    display: none;
    border-size: 1px;
}

.wysiwyg-toolbar li.wysiwyg-menu-style     a#wt-style span.wysiwyg-menu-style,
.wysiwyg-toolbar li.wysiwyg-menu-paragraph a#wt-style span.wysiwyg-menu-paragraph,
.wysiwyg-toolbar li.wysiwyg-menu-heading1  a#wt-style span.wysiwyg-menu-heading1,
.wysiwyg-toolbar li.wysiwyg-menu-heading2  a#wt-style span.wysiwyg-menu-heading2,
.wysiwyg-toolbar li.wysiwyg-menu-heading3  a#wt-style span.wysiwyg-menu-heading3,
.wysiwyg-toolbar li.wysiwyg-menu-heading4  a#wt-style span.wysiwyg-menu-heading4,
.wysiwyg-toolbar li.wysiwyg-menu-heading5  a#wt-style span.wysiwyg-menu-heading5,
.wysiwyg-toolbar li.wysiwyg-menu-heading6  a#wt-style span.wysiwyg-menu-heading6,
.wysiwyg-toolbar li.wysiwyg-menu-code      a#wt-style span.wysiwyg-menu-code {
    display: inline;
}

.wysiwyg-toolbar li a#wt-em        { background-position: -4px -314px; }
.wysiwyg-toolbar li a#wt-strong    { background-position: -4px -290px; }
.wysiwyg-toolbar li a#wt-escape    { background-position: -4px -500px; }
.wysiwyg-toolbar li a#wt-strike    { background-position: -4px -338px; }
.wysiwyg-toolbar li a#wt-link      { background-position: -4px -360px; }
.wysiwyg-toolbar li a#wt-unlink    { background-position: -4px -383px; }
.wysiwyg-toolbar li a#wt-ul        { background-position: -4px -431px; }
.wysiwyg-toolbar li a#wt-outdent   { background-position: -4px -478px; }
.wysiwyg-toolbar li a#wt-indent    { background-position: -4px -454px; }
.wysiwyg-toolbar li a#wt-table     { background-position: -4px -4px; }
.wysiwyg-toolbar li a#wt-hr        { background-position: -4px -409px; }
.wysiwyg-toolbar li a#wt-br        { background-position: -4px -144px; }
.wysiwyg-toolbar li a#wt-remove    { background-position: -4px -267px; }
.wysiwyg-toolbar li a#wt-collapsable-closed { background-position: -4px -547px; }
.wysiwyg-toolbar li a#wt-collapsable-open { background-position: -4px -571px; }
.wysiwyg-toolbar li a#wt-collapsable-hidden { background-position: -4px -594px; }
.wysiwyg-toolbar li a#wt-remove-collapsable { background-position: -4px -524px; }

.wysiwyg-toolbar li a#wt-add-table { background-position: 0 -256px; }
.wysiwyg-toolbar li a#wt-remove-table { background-position: 0 -256px; }
.wysiwyg-toolbar li a#wt-add-row-below { background-position: 0 -256px; }
.wysiwyg-toolbar li a#wt-add-row-above { background-position: 0 -256px; }
.wysiwyg-toolbar li a#wt-add-column-after { background-position: 0 -256px; }
.wysiwyg-toolbar li a#wt-add-column-before { background-position: 0 -256px; }
.wysiwyg-toolbar li a#wt-add-cell-after { background-position: 0 -256px; }
.wysiwyg-toolbar li a#wt-add-cell-before { background-position: 0 -256px; }
.wysiwyg-toolbar li a#wt-remove-row { background-position: 0 -256px; }
.wysiwyg-toolbar li a#wt-remove-column { background-position: 0 -256px; }
.wysiwyg-toolbar li a#wt-remove-cell { background-position: 0 -256px; }

.wysiwyg-toolbar li a#wt-decorationmenu,
.wysiwyg-toolbar li a#wt-tablemenu
{
    width: 10px;
    background-image: url(desc.png);
    background-position: center bottom;
}

.wysiwyg-menu {
    border: 1px solid #d7d7d7;
    padding: 1px 2px;
    background-color: #fff;
    -moz-opacity: 0.90;
    opacity: 0.90;
}
.wysiwyg-menu p,
.wysiwyg-menu h1,
.wysiwyg-menu h2,
.wysiwyg-menu h3,
.wysiwyg-menu h4,
.wysiwyg-menu h5,
.wysiwyg-menu h6,
.wysiwyg-menu pre.wiki,
.wysiwyg-menu blockquote.citation {
    margin: 0px;
}
.wysiwyg-menu ul, .wysiwyg-menu li {
    list-style-type: none;
    text-indent: 0em;
    margin: 0px;
    padding: 0px;
}
.wysiwyg-menu :link, .wysiwyg-menu :visited {
    display: block;
    padding: 1px;
    border: 1px solid #fff;
    color: #000;
}
.wysiwyg-menu .selected :link, .wysiwyg-menu .selected :visited {
    border: 1px solid #7c4;
}
.wysiwyg-menu a:hover, .wysiwyg-menu .selected a:hover {
    border: 1px solid #fb2;
}
.wysiwyg-menu .menu {
    font-size: 85%;
}
