## ... for deleting files and directories
<form method="post" action="?">
  <input type="hidden" name="responder" value="deleteFile"/>
  <input type="hidden" name="filename" value="#escape($filename)"/>
  <fieldset class="buttons">
      <p>Are you sure you would like to delete <strong>#escape($filename)</strong>
          #if( $isDir ) and all $nFiles files inside?#end</p>
    <input type="submit" name="" value="Yes" accesskey="y"/>
    <a class="button" href="?" accesskey="n">No</a>
  </fieldset>
</form>
