<form method="post" action="$resource" name="f">
#if($!editTime)
 <input type="hidden" name="editTime" value="$editTime"/>
 <input type="hidden" name="ticketId" value="$ticketId"/>
#end
#if($!redirect)
 <input type="hidden" name="redirect" value="$redirect"/>
#end
#if($!isNewPage)
 <input type="hidden" name="responder" value="addChild"/>
 <fieldset>
  <label for="pagename">Page name:</label><input type="text" id="pagename" name="pageName" value="" class="wikiword" />
 </fieldset>
 #if( $!pageType )
 <input type="hidden" name="pageType" value="$pageType"/>
 #else
 <fieldset id="pagetypes">
  #foreach( $pageType in $pageTypes )
  <label for="pageType_$pageType"><input type="radio" name="pageType" value="$pageType" id="pageType_$pageType"/> $pageType</label>
  #end
  <label for="pageType_Default"><input type="radio" name="pageType" value="Default" id="pageType_Default" checked="checked" /> Default</label>
 </fieldset>
 #end
#else
 <input type="hidden" name="responder" value="saveData"/>
#end
 <fieldset>
  <label for="helptext">Help text:</label><input type="text" id="helptext" name="helpText" value="$!helpText" />
 </fieldset>

 <fieldset id="editor">
  <span id="edit_buttons">
   <script src="/files/fitnesse/javascript/SpreadsheetTranslator.js" type="text/javascript"></script>
   <script src="/files/fitnesse/javascript/spreadsheetSupport.js" type="text/javascript"></script>
   <script src="/files/fitnesse/javascript/WikiFormatter.js" type="text/javascript"></script>
   <script src="/files/fitnesse/javascript/wikiFormatterSupport.js" type="text/javascript"></script>
  </span>
 
  <textarea class="wikitext no_wrap" id="pageContent" name="pageContent" wrap="off">$pageContent</textarea>
 </fieldset>

 <fieldset>
  <label for="suites">Tags:</label><input type="text" id="suites" title="Separate tags by a comma" name="suites" value="$!suites" />
 </fieldset>

 <fieldset id="save_buttons">
  <input type="submit" name="save" value="Save" tabindex="2" accesskey="s"/>
  <a class="button" href="#if($!redirect)$redirect#else$resource#end">Cancel</a>
 </fieldset>

 <p class="hints">
  Hints:
  <ul>
   <li>Use alt+s (Windows) or control+s (Mac OS X) to save your changes. Or, tab from the text area to the "Save" button!</li>
   <li>Grab the lower-right corner of the text area to increase its size (works with some browsers).</li>
  </ul>
 </p>
</form>
<script type="text/javascript">
$(function () {
#if($!isNewPage)
  document.f.pageName.focus();
#else
  document.f.pageContent.focus();
#end

  function toggle_edit_buttons(type) {
    if (type == "textarea") {
      $("#edit_buttons").show();
    } else {
      $("#edit_buttons").hide();
    }
  };

  var editors = Wysiwyg.initialize();
  toggle_edit_buttons(editors[0].activeEditor());
  $('#editor-wysiwyg-1,#editor-textarea-1').click(function() {
    toggle_edit_buttons($(this).val());
  });
});
</script>
