<div id="error-nav" class="hidden">
  <p id="error-nav-label">Failure Navigator</p>
  <div id="error-nav-controls">
  <button id="error-nav-prev"><</button>
  <input id="error-nav-text" type="text">
   of <span id="error-nav-max"></span>
  <button id="error-nav-next">></button>
  </div>
</div>
