
#foreach( $entry in $logs.entrySet() )
#set( $testSystemName = $entry.key)
#set( $log = $entry.value)
!3 !-${testSystemName}-!
|'''Date: '''| $currentDate |
|'''Test Page: '''|$testPage|
|'''Command: '''| !-${log.command}-! |
|'''Exit code: '''| $log.exitCode |
#set( $execTime = $log.executionTime / 1000.0 )
|'''Time elapsed: '''| $execTime seconds |

#if( $log.capturedOutput != "" )
----
'''Standard Output:'''
{{{$log.capturedOutput}}}
#end
#if( $log.capturedError != "" )
----
'''Standard Error:'''
{{{$log.capturedError}}}
#end
#if( $log.exceptionCount() > 0 )
----
'''Internal Exception#if( $log.exceptionCount() > 1)s#end:'''
#foreach( $exception in $log.exceptions)
{{{$exception.message}}}
#end
#end
#end
