##Keyboard shortcuts

<div id="-shortcut-keys" class="modal-dialog">
 <div>
  <h4>Keyboard Shortcuts <kbd>?</kbd></h4>
  <div>
  <ul class="help-list">

   <li><h4>General</h4></li>
   <li>
    <kbd>t</kbd>
    <span class="help-key-def">Test page or suite</span>
   </li>
   <li>
    <kbd>e</kbd>
    <span class="help-key-def">Edit page</span>
   </li>
   <li>
    <kbd>v</kbd>
    <span class="help-key-def">View page (after test)</span>
   </li>
   <li>
    <kbd>a</kbd>
    <span class="help-key-def">Add new page</span>
   </li>

   <li><h4>Go To</h4></li>
   <li>
    <kbd>g u</kbd>
    <span class="help-key-def">User Guide</span>
   </li>
   <li>
    <kbd>g q</kbd>
    <span class="help-key-def">Quick Reference Guide</span>
   </li>
   <li>
    <kbd>g f</kbd>
    <span class="help-key-def">Full Reference Guide</span>
   </li>
   <li>
    <kbd>g c</kbd>
    <span class="help-key-def">Recent Changes</span>
   </li>
  </ul>
  <ul class="help-list">
   <li><h4>Edit Mode</h4></li>
   <li>
    <kbd>CTRL+s</kbd>
    <span class="help-key-def">Save page</span>
   </li>
   <li>
    <kbd>ESC</kbd>
    <span class="help-key-def">Cancel edit</span>
   </li>

   <li><h4>Tools</h4></li>
   <li>
    <kbd>p</kbd>
    <span class="help-key-def">Properties</span>
   </li>
   <li>
    <kbd>w</kbd>
    <span class="help-key-def">Where used?</span>
   </li>
   <li>
    <kbd>AK+v</kbd>
    <span class="help-key-def">Versions</span>
   </li>
   <li>
    <kbd>AK+h</kbd>
    <span class="help-key-def">Page History</span>
   </li>
   <li>
    <kbd>/</kbd>
    <span class="help-key-def">Focus on search bar</span>
   </li>
   <li>
    <kbd>s</kbd>
    <span class="help-key-def">Open search page</span>
   </li>
  </ul>
  </div>
  <a href="javascript:history.back()" class="button">Close</a>
 </div>
</div>

<script src="${contextRoot}files/fitnesse/javascript/mousetrap.min.js" type="text/javascript"></script>


<script type="text/javascript">
  #set( $localPath = $actions.localPageName )

 ## View the current page (useful after testing) 
  Mousetrap.bind('v', function() { window.location.href ="$localPath"; });

 #if( $actions.testPage )
    Mousetrap.bind('t', function() { window.location.href ="$localPath?test"; });
 #end
 #if( $actions.suitePage )
    Mousetrap.bind('t', function() { window.location.href ="$localPath?suite"; });
  #end
  #if( $actions.withEdit && !$actions.imported)
    Mousetrap.bind('e', function() { window.location.href ="$localPath?edit"; });
  #end
  #if( $actions.withEdit)
    Mousetrap.bind('a', function() { window.location.href ="$localPath?new"; });
  #end
  #if( $actions.withProperties )
    Mousetrap.bind('p', function() { window.location.href ="$localPath?properties"; });
  #end
  #if( $actions.withWhereUsed )
    Mousetrap.bind('w', function() { window.location.href ="$localPath?whereUsed"; });
  #end
  #if( $actions.withSearch )
    Mousetrap.bind('s', function() { window.location.href ="$localPath?searchForm"; });
    Mousetrap.bind('/', function() { 
      document.getElementById('searchString').focus();
      return false;  // stops the / character appearing in search box
    });
  #end
  #if( $actions.withUserGuide )
    Mousetrap.bind('g u', function() { window.location.href =".FitNesse.UserGuide"; });
    Mousetrap.bind('g q', function() { window.open(".FitNesse.UserGuide.QuickReferenceGuide", "_blank"); });
    Mousetrap.bind('g f', function() { window.open(".FitNesse.FullReferenceGuide", "_blank"); });
    Mousetrap.bind('g c', function() { window.location.href ="RecentChanges"; });
  #end

 Mousetrap.bind('?', function() { window.location.hash = "-shortcut-keys"; });

</script>