#set( $localPath = $actions.localPageName )
<ul class="nav navbar-nav">
    #if( $actions.suitePage )
        <li><a href="$localPath?suite" accesskey="t">Suite</a></li>
    #end
    #if( $actions.testPage )
        <li><a href="$localPath?test" accesskey="t">Test</a></li>
    #end
    #if( $actions.withEdit && !$actions.imported)
        <li><a href="$localPath?edit" accesskey="e">Edit</a></li>
    #end
    #if( $actions.imported )
        <li><a href="$localPath?edit" accesskey="e">Edit Locally</a></li>
    #end
    #if( $actions.imported )
        <li><a href="$sourceUrl?responder=edit&amp;redirectToReferer=true&amp;redirectAction=importAndView">Edit Remotely</a></li>
    #end

    #if( $actions.withEdit)
        #if($actions.newPageTemplates.size() > 0)
            <li id="add" class="dropdown" aria-haspopup="true"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Add <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    #foreach ($tmpl in $actions.newPageTemplates.entrySet())
                        <li><a href="$localPath?new&pageTemplate=$tmpl.value">$tmpl.key</a></li>
                    #end
                </ul>
            </li>
        #else
            <li><a href="$localPath?new">Add</a></li>
        #end
    #end

    <li id="tools" class="dropdown" aria-haspopup="true"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
        #set( $nav_newsection = 0 )
        #macro( group $n )#if( $nav_newsection != 0 && $nav_newsection != $n ) class="divider"#end#set( $nav_newsection = $n )#end
        <ul class="dropdown-menu">
            #if( $actions.withProperties )
                <li#group(1)><a href="$localPath?properties" accesskey="p">Properties</a></li>
            #end
            #if( $actions.withWhereUsed )
                <li#group(1)><a href="$localPath?whereUsed" accesskey="w">Where Used</a></li>
            #end
            #if( $actions.withVersions )
                <li#group(1)><a href="$localPath?versions" accesskey="v">Versions</a></li>
            #end
            #if( $actions.withRefactor )
                <li#group(2)><a href="$localPath?refactor&amp;type=rename">Rename</a></li>
                <li><a href="$localPath?refactor&amp;type=move">Move</a></li>
                <li><a href="$localPath?refactor&amp;type=replace">Replace</a></li>
                <li><a href="$localPath?deletePage">Delete</a></li>
            #end
            #if( $actions.withFiles )
                <li #group(3)><a href="${contextRoot}files" accesskey="f">Files</a></li>
            #end
            #if( $actions.withSearch )
                <li#group(3)><a href="?search" accesskey="s">Search</a></li>
            #end
            #if( $actions.withRecentChanges )
                <li#group(3)><a href="${contextRoot}RecentChanges" accesskey="">Recent Changes</a></li>
            #end

            #if( $actions.testPage || $actions.suitePage )
                <li#group(4)><a href="?testHistory">Test History</a></li>
                <li#group(4)><a href="$localPath?pageHistory" accesskey="h">Page History</a></li>
            #end
            #if( $actions.testPage )
                <li#group(4)><a href="?test&amp;remote_debug">Remote Debug</a></li>
            #end
            #if( $actions.suitePage )
                <li#group(4)><a href="?suite&amp;remote_debug">Remote Debug</a></li>
            #end

            #if( $actions.withVariablesScope )
                <li#group(5)><a href="$localPath?variables" accesskey="v">Variables</a></li>
            #end
            #if( $actions.withUserGuide )
                <li#group(6)><a href="${contextRoot}FitNesse.UserGuide" accesskey="">User Guide</a></li>
            #end
        </ul>
    </li>
</ul>
