<h1>Partitioning preview</h1>
<div>
 <a class="button" href="?partition&format=tsv&partitionCount=$partitionCount">Download TSV partitionfile</a><br/>&nbsp;
</div>
<table>
 <thead>
 <tr>
  <th>Page</th>
  #foreach($groupName in $pagePositions.getGroupNames())
   <th>$groupName</th>
  #end
  <th>Order</th>
 </tr>
 </thead>
 <tbody>
  #foreach($page in $pagePositions.getPages())
  <tr>
   #foreach($position in $pagePositions.getPositions($page))
    <td>$page</td>
    #foreach($dimension in $position.getGroup())
     <td>$pagePositions.formatDimension($dimension)</td>
    #end
    <td>$position.getPositionInGroup()</td>
   #end
  </tr>
  #end
 </tbody>
</table>
