#macro( checked $attr )#if( $pageData.hasAttribute($attr) ) checked="checked"#end#end
#macro( value $prop ) value="#escape($!{pageData.getAttribute( $prop )})"#end
 <p>$lastModified</p>
 <form method="post">
  <input type="hidden" name="responder" value="saveProperties"/>
  
  <h2>Page properties</h2>
  <div class="properties">
   <fieldset>
    <legend>Page type:</legend>
    #foreach( $pageType in $pageTypes )
    <label for="$pageType"><input type="radio" id="$pageType" name="PageType" value="$pageType"#if( $pageType == $selectedPageType) checked="checked"#end/>$pageType</label>
    #end
    
    <label for="Prune"><input type="checkbox" id="Prune" name="Prune"#checked( "Prune" )/>Skip (Recursive)</label>
   </fieldset>
     
   <fieldset>
    <legend>Actions:</legend>
    #foreach( $action in $actionTypes )
    <label for="$action"><input type="checkbox" id="$action" name="$action"#checked( $action )/>$action</label>
    #end
   </fieldset>

   <fieldset>
    <legend>Navigation:</legend>
    #foreach( $navigation in $navigationTypes )
    <label for="$navigation"><input type="checkbox" id="$navigation" name="$navigation"#checked( $navigation )/>$navigation</label>
    #end
   </fieldset>
    
   <fieldset>
    <legend>Security:</legend>
    #foreach( $security in $securityTypes )
	<label for="$security"><input type="checkbox" id="$security" name="$security"#checked( $security )/>$security</label>
    #end
   </fieldset>
  </div>

  <div class="virtual-wiki-properties">
   <fieldset>
    <label for="HelpText">Help text:</label>
    <input type="text" id="HelpText" name="HelpText"#value( "Help" ) size="70"/>
   </fieldset>
    
   <fieldset>
    <label for="Suites">Tags:</label>
     <input type="text" id="Suites" title="Separate tags by a comma" name="Suites"#value( "Suites" ) size="70"/>
   </fieldset>
  </div>
  <fieldset class="buttons">
   <input type="submit" name="Save" value="Save Properties" accesskey="s"/>
  </fieldset>
 </form>

 <form method="post" action="" id="wiki-import">
  #if ( $makeImportForm )
  <fieldset>
   <h2>Wiki Import</h2>
   <p>Supply the URL for the wiki you'd like to import.</p>
   <label for="remoteUrl">Remote Wiki URL:</label>
   <input type="text" id="remoteUrl" name="remoteUrl" size="70"/>
  </fieldset>
  
  <fieldset>
  #set( $submitMsg = "Import" )
  #elseif( $makeImportRootForm )
   <h2>Wiki Import Update</h2>
   <p><a href="$pageTitle.title">$pageTitle.title</a>
   imports its subpages from
   <a href="$sourceUrl">$sourceUrl</a>.</p>
  #set( $submitMsg = "Update Subpages" )
  #elseif( $makeImportSubpageForm )
   <h2>Wiki Import Update</h2>
   <p><a href="$pageTitle.link">$pageTitle.title</a> imports its content and subpages from
   <a href="$sourceUrl">$sourceUrl</a>.</p>
  #set( $submitMsg = "Update Content and Subpages" )
  #end
   
   <label class="checkbox" for="autoUpdate"><input type="checkbox" id="autoUpdate" name="autoUpdate"#if( $autoUpdate ) checked="checked"#end/>Automatically update imported content when executing tests</label>
   <input type="hidden" name="responder" value="import"/>
  </fieldset>
  <fieldset class="buttons">
   <input type="submit" name="save" value="$submitMsg"/>
  </fieldset>
 </form>
 
 
 <form method="get" action="" name="symbolics" id="symbolics">
  <input type="hidden" name="responder" value="symlink"/>
  <h2>Symbolic Links</h2>
  <table class="dirListing">
   <tr>
    <th>Name</th>
    <th>Path to Page</th>
    <th>Actions</th>
   </tr>
   #foreach( $symlink in $symlinks )
   <tr>
    <td><input type="text" name="$symlink.name" value="$symlink.name"  size="30"/></td>
    <td>
     #if( $symlink.path )
     <a href="$symlink.path">$symlink.link</a>
     #else
     $symlink.link
     #end
    </td>
    <td>
     <a href="javascript:symbolicLinkRename('$symlink.name','$pageTitle.link');">Rename</a>&nbsp;|&nbsp;<a href="?responder=symlink&removal=$symlink.name">Unlink</a>
    </td>
   </tr>
   #end
   <tr>
    <td>
     <input type="text" name="linkName" size="30"/>
    </td>
    <td>
     <input type="text" name="linkPath" size="70"/>
    </td>
    <td>
     <input type="submit" name="submit" value="Create/Replace"/>
    </td>
   </tr>
  </table>
  
  <a class="button" href="$viewLocation">Cancel</a>

 </form>


<script src="${contextRoot}files/fitnesse/javascript/jquery.tagsinput.js" type="text/javascript"></script>
<script type="text/javascript">
$(function () {
  /* Tags */
  $('#Suites').tagsInput();
});
</script>
