#if( !$type || $type == "replace" )
<h2>Replace</h2>
<form action="$refactoredRootPage" method="post">
 <input type="hidden" name="responder" value="replace"/>
 <fieldset>
  <label for="searchString">Search String:</label>
  <input type="text" size="50" id="searchString" name="searchString" value="#if ($request.hasInput("searchString"))$request.getInput("searchString")#end"/>
 </fieldset>
 <fieldset>
  <label for="replacementString">Replacement:</label>
  <input type="text" size="50" id="replacementString" name="replacementString" value="#if ($request.hasInput("replacementString"))$request.getInput("replacementString")#end"/>
 </fieldset>
 <fieldset class="buttons">
  <label style="width:100%;text-align:left" for="methodReplaceCheckbox"><input type="checkbox" id="methodReplaceCheckbox" name="methodReplaceCheckbox"/>Replace Method? (See notes below)**</label>
 </fieldset>
 <fieldset class="buttons">
  <input type="submit" name="replace" value="Replace!"/>
  <a class="button" href="$viewLocation">Cancel</a>
 </fieldset>
 <br />
 <p><strong>Search &amp; Replace: </strong>
 <p>Please note that this feature is experimental!</p>
 <p> For regex replace (when checkbox is not selected), it uses <a href="http://java.sun.com/javase/6/docs/api/java/util/regex/Pattern.html" target="_new">java-based regular expressions</a>.
 </p>
 <p>
  ** When you change a method or a scenario name and you want to reflect the changes across all your tests, you can select the checkbox. You can use existing line in wiki page. e.g. <strong>|Go to|url|</strong> can be changed to <strong>|Navigate to|url|</strong>. Keep in mind following.
  <ul>
   <li>This will keep the original parameters (if any) in the wiki which is good in most cases.</li>
   <li>This will replace any line which evaluates to a method name including a line in script table, a scenario or a decision table having similar name. This will be desired in most cases. If you used same method in multiple classes, all of them will be impacted in the wiki pages.</li>
   <li>It is a good idea to review the replaced lines locally (e.g. using Git) and undo any undesired changes before sharing/committing the tests. Most IDE has version control comparison and selective undo feature.</li>
  </ul>
 </p>
</form>
#end

#if( !$type || $type == "delete" )
<h2>Delete page</h2>
<form method="get" action="$refactoredRootPage">
 <p>Delete this entire sub-wiki.</p>
 <input type="hidden" name="responder" value="deletePage"/>
 <fieldset class="buttons">
  <input type="submit" name="" value="Delete Page"/>
  <a class="button" href="$viewLocation">Cancel</a>
 </fieldset>
</form>
#end

#if( !$type || $type == "rename" )
<h2>Rename page</h2>
<form method="get" action="$refactoredRootPage">
 <input type="hidden" name="responder" value="renamePage"/>
 <fieldset>
  <label for="newName">New Name:</label>
  <input type="text" id="newName" name="newName" value="" size="50" class="wikiword" />
 </fieldset>
 <fieldset>
  <label class="checkbox" for="refactorReferences"><input type="checkbox" id="refactorReferences" name="refactorReferences"/>Find all references to this page and change them accordingly (May take several minutes)</label>
 </fieldset>
 <fieldset class="buttons">
  <input type="submit" name="" value="Rename Page"/>
  <a class="button" href="$viewLocation">Cancel</a>
 </fieldset
</form>
#end

#if( !$type || $type == "move" )
<h2>Move page</h2>
<form method="get" action="$refactoredRootPage">
 <input type="hidden" name="responder" value="movePage"/>
 <fieldset>
  <label for="newLocation">New Location:</label>
  <input type="text" name="newLocation" value="" size="80" class="wikipath" list="suites" placeholder="enter first two chars of suite name here" autocomplete="off" />
  <datalist id="suites">
    #foreach ($suiteEntry in $suiteMap)
        <option value="#escape($suiteEntry)"/>
    #end
  </datalist>
 </fieldset>
 <fieldset>
  <label class="checkbox" for="refactorReferences_move"><input type="checkbox" id="refactorReferences_move" name="refactorReferences"/>Find all references to this page and change them accordingly (May take several minutes)</label>
 </fieldset>
 <fieldset class="buttons">
  <input type="submit" name="" value="Move Page"/>
  <a class="button" href="$viewLocation">Cancel</a>
 </fieldset>
</form>
#end
