#if( !$type || $type == "replace" )
<form action="$refactoredRootPage" method="post">
<h2>Replace Text</h2>
 <input type="hidden" name="responder" value="replace"/>
 <fieldset>
  <label for="searchString">Search String:</label>
  <input type="text" size="50" id="searchString" name="searchString" value="#if ($request.hasInput("searchString"))#escape($request.getInput("searchString"))#end"/>
 </fieldset>
 <fieldset>
  <label for="replacementString">Replacement:</label>
  <input type="text" size="50" id="replacementString" name="replacementString" value="#if ($request.hasInput("replacementString"))#escape($request.getInput("replacementString"))#end"/>
 </fieldset>
 <fieldset class="buttons">
  <input type="submit" name="replace" value="Replace!"/>
  <a class="button" href="$viewLocation">Cancel</a>
 </fieldset>

 <p><strong>Search &amp; Replace: </strong>
  Please note that this feature is experimental! It uses java-based regular expressions. For an introduction, take a look <a href="http://java.sun.com/javase/6/docs/api/java/util/regex/Pattern.html" target="_new">here</a> (new window).</p>
</form>

<form action="$refactoredRootPage" method="post">
<h2>Replace Method</h2>
 <input type="hidden" name="responder" value="replace"/>
 <input type="hidden" name="isMethodReplace"/>
 <fieldset>
  <label for="searchString">Search Method:</label>
  <input type="text" size="50" id="searchStringMethod" name="searchString" value="#if ($request.hasInput("searchString"))#escape($request.getInput("searchString"))#end"/>
 </fieldset>
 <fieldset>
  <label for="replacementString">Replacing Method:</label>
  <input type="text" size="50" id="replacementString" name="replacementString" value="#if ($request.hasInput("replacementString"))#escape($request.getInput("replacementString"))#end"/>
 </fieldset>
 <fieldset class="buttons">
  <input type="submit" name="replace" value="Replace Method!"/>
  <a class="button" href="$viewLocation">Cancel</a>
 </fieldset>
<p>
  Reflect an updated method/scenario name across all existing test cases. To accomplish this, you can supply an existing line using that method from any test page. e.g. <strong>|Go to|url|</strong> can be changed to <strong>|Navigate to|url|</strong>. Keep the following in mind:
  <ul>
   <li>This will not change the parameters (if any) in the wiki.</li>
   <li>This will replace any line which evaluates to a method name including a line in script table, a scenario or a decision table having a similar name. This will be desired in most cases. But if you have multiple classes with the same method of which you only changed one this will not work as desired, since all calls are replaced.</li>
   <li>It is a good idea to review the updated lines locally (e.g. using Git) and undo any undesired changes before sharing/committing the tests. Most IDE have a version control comparison and selective undo feature.</li>
  </ul>
 </p>
</form>
#end

#if( !$type || $type == "delete" )
<h2>Delete page</h2>
<form method="get" action="$refactoredRootPage">
 <p>Delete this entire sub-wiki.</p>
 <input type="hidden" name="responder" value="deletePage"/>
 <fieldset class="buttons">
  <input type="submit" name="" value="Delete Page"/>
  <a class="button" href="$viewLocation">Cancel</a>
 </fieldset>
</form>
#end

#if( !$type || $type == "rename" )
<h2>Rename page</h2>
<form method="get" action="$refactoredRootPage">
 <input type="hidden" name="responder" value="renamePage"/>
 <fieldset>
  <label for="newName">New Name:</label>
  <input type="text" id="newName" name="newName" value="" size="50" class="wikiword" />
 </fieldset>
 <fieldset>
  <label class="checkbox" for="refactorReferences"><input type="checkbox" id="refactorReferences" name="refactorReferences"/>Find all references to this page and change them accordingly (May take several minutes)</label>
 </fieldset>
 <fieldset class="buttons">
  <input type="submit" name="" value="Rename Page"/>
  <a class="button" href="$viewLocation">Cancel</a>
 </fieldset
</form>
#end

#if( !$type || $type == "move" )
<h2>Move page</h2>
<form method="get" action="$refactoredRootPage">
 <input type="hidden" name="responder" value="movePage"/>
 <fieldset>
  <label for="newLocation">New Location:</label>
  <input type="text" name="newLocation" value="" size="80" class="wikipath" list="suites" placeholder="enter first two chars of suite name here" autocomplete="off" />
  <datalist id="suites">
    #foreach ($suiteEntry in $suiteMap)
        <option value="#escape($suiteEntry)"/>
    #end
  </datalist>
 </fieldset>
 <fieldset>
  <label class="checkbox" for="refactorReferences_move"><input type="checkbox" id="refactorReferences_move" name="refactorReferences"/>Find all references to this page and change them accordingly (May take several minutes)</label>
 </fieldset>
 <fieldset class="buttons">
  <input type="submit" name="" value="Move Page"/>
  <a class="button" href="$viewLocation">Cancel</a>
 </fieldset>
</form>
#end
