 <form method="post" action="?">
  <input type="hidden" name="responder" value="renameFile"/>
  <input type="hidden" name="filename" value="$filename"/>
  <fieldset  class="buttons">
    <p>Rename <b>$filename</b>.</p>
  </fieldset>
  <fieldset>
    <label for="rename-file">Rename to:</label>
    <input id="rename-file" type="text" name="newName" value="$filename"/>
  </fieldset>
  <fieldset  class="buttons">
      <input type="submit" name="renameFile" value="Rename"/>
      <a class="button" href="?">Cancel</a>
  </fieldset>
 </form>
