<p id="feedback">Searching...</p>
<table id="searchResultsTable" class="dirListing">
 <thead>
  <tr>
   <th>
	<a href="javascript:void(tableSorter.sort(0));">Type</a>
   </th>
   <th>
	<a href="javascript:void(tableSorter.sort(1));">Page</a>
   </th>
   <th>
	<a href="javascript:void(tableSorter.sort(2));">Tags</a>
   </th>
   <th>
	<a href="javascript:void(tableSorter.sort(3, 'date'));">LastModified</a>
   </th>
  </tr>
 </thead>
 <tbody>

 #set( $hits = 0 )
 #traverse( $resultResponder )
  #set( $pagePath = $result.getPageCrawler().getFullPath().toString() )
  <tr>
   <td>
   #if($result.getData().hasAttribute("Suite"))
	<a href="$pagePath?suite">Suite</a>
   #end
   #if($result.getData().hasAttribute("Test"))
	<a href="$pagePath?test">Test</a>
   #end
   </td>
   <td>
	<a href="$pagePath">$pagePath</a>
   </td>
   <td style="text-align: right;">
   #set ( $tags = $result.getData().getAttribute("Suites") )
	<label>#if ($tags && !$tags.equals("null"))#escape($tags)#end</label>
   </td>
   <td>$result.getData().getProperties().getLastModificationTime()
   </td>
  </tr>
  #set( $hits = $hits + 1 )
 #end

 </tbody>
</table>

<script src="${contextRoot}files/fitnesse/javascript/clientSideSort.js"> </script>
<script language="javascript">
 tableSorter = new TableSorter('searchResultsTable', new DateParser(/^(\w+) (jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec) (\d+) (\d+).(\d+).(\d+) (\w+) (\d+)$/,8,2,3,4,5,6));
</script>

<fieldset>
 <a class="button" href="$viewLocation">Back</a>
</fieldset>


<h4>To save this search as a link, paste the text below into a page.</h4>
<pre>[[Search below !-$page.getName()-! for &lt;description&gt;][$page.getPageCrawler().getFullPath()?$queryString]]</pre>

#if ($hits > 1)
<script language="javascript">document.getElementById("feedback").innerHTML = 'Found $hits results for your search.'</script>
#elseif ($hits == 1)
<script language="javascript">document.getElementById("feedback").innerHTML = 'Found $hits result for your search.'</script>
#else
<script language="javascript">document.getElementById("feedback").innerHTML = 'No pages matched your search criteria.'</script>
#end
