<?xml version="1.0"?>
<testResults>
  <FitNesseVersion>$formatter.getFitNesseVersion()</FitNesseVersion>
  <rootPath>$formatter.getRootPageName()</rootPath>
  #foreach ($reference in $formatter.getPageHistoryReferences())
  #set($executionReport = $formatter.getTestExecutionReport($reference))
  #set($result = $executionReport.getResults().get(0))
  <result>
    <counts>
      <right>$result.Right</right>
      <wrong>$result.Wrong</wrong>
      <ignores>$result.Ignores</ignores>
      <exceptions>$result.Exceptions</exceptions>
    </counts>
    <runTimeInMillis>$result.RunTimeInMillis</runTimeInMillis>
    <relativePageName>$result.RelativePageName</relativePageName>
    <pageHistoryLink>$reference.getPageName()?pageHistory&amp;resultDate=$reference.getResultDate()&amp;format=xml</pageHistoryLink>
    #if($result.Tags)
    <tags>$result.Tags</tags>
    #end
    #if($formatter.shouldIncludeHtml())
      <content><![CDATA[$result.Content]]></content>
    #end 

  </result>
  #end

  <finalCounts>
    <right>$formatter.getPageCounts().right</right>
    <wrong>$formatter.getPageCounts().wrong</wrong>
    <ignores>$formatter.getPageCounts().ignores</ignores>
    <exceptions>$formatter.getPageCounts().exceptions</exceptions>
  </finalCounts>
  <totalRunTimeInMillis>$formatter.TotalRunTimeInMillis</totalRunTimeInMillis>

</testResults>

