<?xml version="1.0"?>
<testResults>
  <FitNesseVersion>$suiteExecutionReport.version</FitNesseVersion>
  <rootPath>#escape($suiteExecutionReport.rootPath)</rootPath>
  #foreach ($reference in $suiteExecutionReport.pageHistoryReferences)
  <result>
    <counts>
      <right>$reference.testSummary.right</right>
      <wrong>$reference.testSummary.wrong</wrong>
      <ignores>$reference.testSummary.ignores</ignores>
      <exceptions>$reference.testSummary.exceptions</exceptions>
    </counts>
    <date>$reference.dateString</date>
    <runTimeInMillis>$reference.runTimeInMillis</runTimeInMillis>
    <relativePageName>#escape($reference.relativePageName)</relativePageName>
    <pageHistoryLink>$reference.pageName?pageHistory&amp;resultDate=$reference.resultDate</pageHistoryLink>
    #set($testResult = $formatter.getTestResult($reference))
    #if($testResult.tags)
    <tags>#escape($testResult.tags)</tags>
    #end
    #if($includeHtml)
    <content>#escape($testResult.content)</content>
    #end
    #if($includeInstructions && $testResult.instructions.size() > 0)
    <instructions>
      #foreach($instructionResult in $testResult.Instructions)
      <instructionResult>
        <instruction>#escape($instructionResult.Instruction)</instruction>
        <slimResult>#escape($instructionResult.SlimResult)</slimResult>
        #foreach($expectation in $instructionResult.Expectations)
        <expectation>
          #if($expectation.Status)
          <status>$expectation.Status</status>
          #end
          <instructionId>$expectation.InstructionId</instructionId>
          #if($expectation.Col)
          <col>$expectation.Col</col>
          #end
          #if($expectation.Row)
          <row>$expectation.Row</row>
          #end
          <type>#escape($expectation.Type)</type>
          #if($expectation.Actual)
          <actual>#escape($expectation.Actual)</actual>
          #end
          #if($expectation.Expected)
          <expected>#escape($expectation.Expected)</expected>
          #end
          #if($expectation.EvaluationMessage)
          <evaluationMessage>#escape($expectation.EvaluationMessage)</evaluationMessage>
          #end
        </expectation>
        #end
      </instructionResult>
      #end
    </instructions>
    #end
  </result>
  #end
  #foreach ($log in $suiteExecutionReport.executionLogs)
   <executionLog>
    <testSystem>#escape($log.testSystemName)</testSystem>
    <command>#escape($log.command)</command>
    <exitCode>#escape($log.exitCode)</exitCode>
     #if( $log.stdOut )
      <stdOut>#escape($log.stdOut)</stdOut>
     #end
     #if( $log.stdOut )
      <stdErr>#escape($log.stdErr)</stdErr>
     #end
     #foreach( $exception in $log.exceptions)
      <exception>#escape($exception.message)</exception>
     #end
   </executionLog>
  #end
  <finalCounts>
    <right>$suiteExecutionReport.finalCounts.right</right>
    <wrong>$suiteExecutionReport.finalCounts.wrong</wrong>
    <ignores>$suiteExecutionReport.finalCounts.ignores</ignores>
    <exceptions>$suiteExecutionReport.finalCounts.exceptions</exceptions>
  </finalCounts>
  <totalRunTimeInMillis>$suiteExecutionReport.totalRunTimeInMillis</totalRunTimeInMillis>
</testResults>