#if($suiteExecutionReport)
<script src="${contextRoot}files/fitnesse/javascript/clientSideHitePassed.js" type="text/javascript"></script>
<table>
  <tr>
    <td>$suiteExecutionReport.getDate()</td>
    <td class="meta">FitNesse Version: $suiteExecutionReport.Version</td>
    <td><a href="?executionLog&resultDate=$resultDate">Execution Log</a></td>
  </tr>
</table>
#set($finalCounts = $suiteExecutionReport.finalCounts)
#if($finalCounts)
<div id="test-summary" class="$ExecutionResult.getExecutionResult($suiteExecutionReport.getRootPath(), $finalCounts)">
    <strong>Test Pages:</strong>
    &nbsp;
    $finalCounts.Right right,
    $finalCounts.Wrong wrong,
    $finalCounts.Ignores ignored,
    $finalCounts.Exceptions exceptions
    #if($suiteExecutionReport.hasRunTimes())
    ($suiteExecutionReport.totalRunTimeInMillis ms)
    #end
    &nbsp;
    <input type="checkbox" id="hidePassedTests">Hide passed tests</input>
</div>
#end
<p/>
<table>
  <tr>
    <th class="numeric">Right</th>
    <th class="numeric">Wrong</th>
    <th class="numeric">Ignored</th>
    <th class="numeric">Exceptions</th>
    <th>Page</th>
    #if($suiteExecutionReport.hasRunTimes())
    <th class="numeric">Run&nbsp;time&nbsp;(ms)</th>
    #end
  </tr>
  #foreach($pageHistoryReference in $suiteExecutionReport.getPageHistoryReferences())
  #set($counts = $pageHistoryReference.getTestSummary())
  <tr class="$ExecutionResult.getExecutionResult($pageHistoryReference.pageName, $counts)">
    <td class="numeric">
      $counts.Right
    </td>
    <td class="numeric">
      $counts.Wrong
    </td>
    <td class="numeric">
      $counts.Ignores
    </td>
    <td class="numeric">
      $counts.Exceptions
    </td>
    <td>
      <a href="$pageHistoryReference.pageName?pageHistory&resultDate=$pageHistoryReference.getResultDate()">$pageHistoryReference.getPageName()</a>
    </td>
    #if($suiteExecutionReport.hasRunTimes())
    <td class="numeric">
      $pageHistoryReference.RunTimeInMillis
    </td>
    #end
  </tr>
  #end
</table>
#end
