#foreach($branch in $branch.getBranches())
  #if ($branch.isTest())
    <li class="completion_test"><a href="$branch.getHistoryUrl()" class="$branch.getCssClass()">$branch.getName()</a></li>
  #else
  	
  	<li class="suite completion_folder">
  	    <a href="$branch.getHistoryUrl()" class="$branch.getCssClass()">$branch.getName()</a>  (
	  	#if ($branch.getTestsPassed() != 0)
		  	 <span class="passed_tests"> $branch.getTestsPassed() &nbsp; $branch.getPassedPercentString()</span>
		#end
	  	#if ($branch.getTestsUnrun() != 0)
		  	 <span class="unrun_tests">$branch.getTestsUnrun() &nbsp; $branch.getUnrunPercentString()</span>
		#end
	  	#if ($branch.getTestsFailed() != 0)
		  	 <span class="failed_tests">$branch.getTestsFailed() &nbsp; $branch.getFailedPercentString()</span>
		#end
		)
		<ul>      
		#parse("suiteOverviewNode.vm")
		</ul>
	</li>
  #end
#end
