#if($testExecutionReport)
<table>
  <tr>
    <td>$testExecutionReport.Date</td>
    <td class="meta">FitNesse Version: $testExecutionReport.Version</td>
    #if( $resultDate )<td><a href="?executionLog&resultDate=$resultDate">Execution Log</a></td>#end
  </tr>
</table>
#foreach($testResult in $testExecutionReport.Results)
#set($counts = $testResult.TestSummary)
<div id="test-summary" class="$ExecutionResult.getExecutionResult($testResult.RelativePageName, $counts)">
    <strong>$testResult.RelativePageName:</strong>
    $counts.Right right,
    $counts.Wrong wrong,
    $counts.Ignores ignored,
    $counts.Exceptions exceptions
    ($testResult.runTimeInMillis ms)
</div>

<div class="alternating_block">$testResult.Content</div>

<script type="text/javascript">
 $(initErrorMetadata)
</script>
#end
#end
