<h1>Test history</h1>
#set($noHistory = true)
<div>
 <a class="button" href="?responder=overview">View as Overview</a>
 <a class="button" href="?responder=purgeHistory&days=30">Purge &gt; 30 days</a>
 <a class="button" href="?responder=purgeHistory&days=7">Purge &gt; 7 days</a>
 <a class="button" href="?responder=purgeHistory&days=0">Purge all</a>
 <a class="button" href="$viewLocation">Cancel</a>
 <label for="hidePassedTests"><input type="checkbox" id="hidePassedTests"/>Hide passed tests</label>
</div>

<table>
 <tr>
  <th>Page</th>
  <th>Pass</th>
  <th>Fail</th>
  <th>Latest</th>
  <th colspan="20">Last 20 Results</th>
 </tr>
  #foreach ($page in $testHistory.pageNames)
  #set ($pageHistory = $testHistory.getPageHistory($page))
  #if($pageHistory)
  #set($noHistory = false)

  <tr>
    #set ($barGraph = $pageHistory.getBarGraph())

    #if($pageHistory.passes==0) #set ($passClass = "ignore")
    #else #set ($passClass = "pass")
    #end

    #if($pageHistory.failures==0) #set ($failClass = "ignore")
    #else #set ($failClass = "fail")
    #end

    <td><a href="${contextRoot}$page?pageHistory">$page</a></td>
    <td class="$passClass">$pageHistory.passes</td>
    <td class="$failClass">$pageHistory.failures</td>
    <td>$barGraph.formatEndingDate("dd MMM yy, HH:mm")</td>
    #foreach($passFail in $barGraph.passFailArray())
    <td class="$passFail.result"><a href="$page?pageHistory&resultDate=$passFail.Date">#if($passFail.pass)+#else-#end</a></td>
    #end

  </tr>
  #end
  #end

</table>
#if ($noHistory)No History#end
