<?xml version="1.0"?>
<testResults>
  <FitNesseVersion>$response.Version</FitNesseVersion>
  <rootPath>$response.RootPath</rootPath>
  #foreach ($result in $response.Results)
  <result>
    <counts>
      <right>$!result.right</right>
      <wrong>$!result.wrong</wrong>
      <ignores>$!result.ignores</ignores>
      <exceptions>$!result.exceptions</exceptions>
    </counts>
    <date>$result.dateString</date>
    <runTimeInMillis>$result.runTimeInMillis</runTimeInMillis>
    <content>#escape($result.Content)</content>
    <relativePageName>$result.RelativePageName</relativePageName>
    #if($result.Tags)
    <tags>#escape($result.Tags)</tags>
    #end
    #if($result.Instructions.size() > 0)
    <instructions>
      #foreach($instructionResult in $result.Instructions)
      <instructionResult>
        <instruction>#escape($instructionResult.Instruction)</instruction>
        <slimResult>#escape($instructionResult.SlimResult)</slimResult>
        #foreach($expectation in $instructionResult.Expectations)
        <expectation>
          #if($expectation.Status)
          <status>$expectation.Status</status>
          #end
          <instructionId>$expectation.InstructionId</instructionId>
          #if($expectation.Col)
          <col>$expectation.Col</col>
          #end
          #if($expectation.Row)
          <row>$expectation.Row</row>
          #end
          <type>#escape($expectation.Type)</type>
          #if($expectation.Actual)
          <actual>#escape($expectation.Actual)</actual>
          #end
          #if($expectation.Expected)
          <expected>#escape($expectation.Expected)</expected>
          #end
          #if($expectation.EvaluationMessage)
          <evaluationMessage>#escape($expectation.EvaluationMessage)</evaluationMessage>
          #end
        </expectation>
        #end
      </instructionResult>
      #end
    </instructions>
    #end
  </result>
#end
#foreach ($log in $response.executionLogs)
  <executionLog>
    <testSystem>#escape($log.testSystemName)</testSystem>
    <command>#escape($log.command)</command>
    <exitCode>#escape($log.exitCode)</exitCode>
#if( $log.stdOut )
    <stdOut>#escape($log.stdOut)</stdOut>
#end
#if( $log.stdErr )
    <stdErr>#escape($log.stdErr)</stdErr>
#end
#foreach( $exception in $log.exceptions)
    <exception>#escape($exception.message)</exception>
#end
  </executionLog>
#end
#if($response.FinalCounts)
  <finalCounts>
    <right>$response.FinalCounts.Right</right>
    <wrong>$response.FinalCounts.Wrong</wrong>
    <ignores>$response.FinalCounts.Ignores</ignores>
    <exceptions>$response.FinalCounts.Exceptions</exceptions>
  </finalCounts>
  <totalRunTimeInMillis>$response.TotalRunTimeInMillis</totalRunTimeInMillis>
#end
</testResults>

