<ul><li id="test-action"></li></ul>
<div id="error-nav" class="error-nav-hidden">
	<p id="error-nav-label">Failure Navigator</p>
	<div id="error-nav-controls">
	<button id="error-nav-prev"><</button>
	<input id="error-nav-text" type="text">
	 of <span id="error-nav-max"></span>
	<button id="error-nav-next">></button>
	</div>
</div>
## The menu is only shown after the page executed.
<div class="hidden">
#parse( "wikiNav.vm" )
</div>
<script type="text/javascript">//<!--
 $(function() {
   $('nav > div > ul > li').appendTo($('nav > ul'));
 });
//--></script>