<p>Current: $lastModified</p>
<h2>Select a version</h2>
<form action= "" method="get" name="compareVersions">
 <fieldset>
  <input type="hidden" value="compareVersions" name="responder"/>
  <input type="submit" value="Compare" />
  <a class="button" href="$viewLocation">Cancel</a>
 </fieldset>
 <table>
  <thead>
   <tr>
    <th>Compare</th>
    <th>Name</th>
    <th>Author</th>
    <th>Age</th>
    <th>&nbsp;</th>
   </tr>
  </thead>
  <tbody>
   #foreach( $version in $versions )
   <tr>
    <td><input type="checkbox" name="Version_$version.name"/></td>
    <td>$version.name</td>
    <td>$version.author</td>
    <td>$version.age</td>
    <td><a href="?responder=viewVersion&amp;version=$version.name">view</a></td>
   </tr>
   #end
  </tbody>
 </table>
</form>
