#set( $localPath = $actions.localPageName )
#set( $localOrRemotePath = $actions.localOrRemotePageName )
#set( $openInNewWindow = $actions.newWindowIfRemote )
<ul>
 #if( $actions.suitePage )
 <li><a href="$localPath?suite" accesskey="">Suite</a></li>
 #end
 #if( $actions.testPage )
 <li><a href="$localPath?test" accesskey="t">Test</a></li>
 #end
 #if( $actions.withEdit && !$actions.imported)
 <li><a href="$localOrRemotePath?edit" accesskey="e">Edit</a></li>
 #end
 #if( $actions.imported )
 <li><a href="$localPath?edit" accesskey="e">Edit Locally</a></li>
 #end
 #if( $actions.imported )
 <li><a href="$sourceUrl?responder=edit&amp;redirectToReferer=true&amp;redirectAction=importAndView">Edit Remotely</a></li>
 #end

 #if( $actions.withEdit)
 <li id="add"><a href="$localOrRemotePath?new" class="label">Add</a>
  <ul>
   <li><a href="$localOrRemotePath?new&pageType=Static">Static page</a></li>
   <li><a href="$localOrRemotePath?new&pageType=Test">Test page</a></li>
   <li><a href="$localOrRemotePath?new&pageType=Suite">Suite page</a></li>
  </ul>
 </li>
 #end
 
 <li id="tools"><a href="#" class="label">Tools</a>
  #set( $nav_newsection = 0 )
  #macro( group $n )#if( $nav_newsection != 0 && $nav_newsection != $n ) class="divider"#end#set( $nav_newsection = $n )#end
  <ul>
  #if( $actions.withProperties )
   <li#group(1)><a href="$localOrRemotePath?properties" accesskey="p">Properties</a></li>
  #end
  #if( $actions.withWhereUsed )
   <li#group(1)><a href="$localOrRemotePath?whereUsed" accesskey="w">Where Used</a></li>
  #end
  #if( $actions.withVersions )
   <li#group(1)><a href="$localOrRemotePath?versions" accesskey="v">Versions</a></li>
  #end
  
  #if( $actions.withRefactor )
   <li#group(2)><a href="$localOrRemotePath?refactor&amp;type=rename">Rename</a></li>
   <li><a href="$localOrRemotePath?refactor&amp;type=move">Move</a></li>
   <li><a href="$localOrRemotePath?refactor&amp;type=replace">Replace</a></li>
   <li><a href="$localOrRemotePath?deletePage">Delete</a></li>
  #end
  #if( $actions.withFiles )
   <li #group(3)><a href="/files" accesskey="f">Files</a></li>
  #end
  #if( $actions.withSearch )
   <li#group(3)><a href="?searchForm" accesskey="s">Search</a></li>
  #end
  #if( $actions.withRecentChanges )
   <li#group(3)><a href="/RecentChanges" accesskey="">Recent Changes</a></li>
  #end

  #if( $actions.withPageHistory )
   <li#group(4)><a href="$localPath?pageHistory">Page History</a></li>
  #end
  #if( $actions.withTestHistory )
   <li#group(4)><a href="?testHistory">Test History</a></li>
  #end

  #if( $actions.withUserGuide )
   <li#group(5)><a href=".FitNesse.UserGuide" accesskey="">User Guide</a></li>
  #end
  </ul>
</ul>
