## The menu is only shown after the page executed.
<div class="hidden">
#parse( "wikiNav.vm" )
</div>
<script type="text/javascript">//<!--
 $(function() {
   $('nav .hidden').removeClass('hidden');
 });
//--></script>

<span id="test-action"></span>
## The error navigator is also hidden until page is complete.
<div id="error-nav" class="error-nav-hidden">
	<p id="error-nav-label">Failure Navigator</p>
	<div id="error-nav-controls">
	<button id="error-nav-prev"><</button>
	<input id="error-nav-text" type="text">
	 of <span id="error-nav-max"></span>
	<button id="error-nav-next">></button>
	</div>
</div>