body {
 background-color: white;
}

p {
 margin-top: 0.5em;
 margin-bottom: 0.5em;
}

p.meta {
 margin: 0;
}

p.comment {
 color: #666;
 font-style: italic;
}

ins { /* used for escaping !-..-! */
    font-family: monospace;
    font-size: 16px;
    text-decoration: none;
}
pre.wiki {
 overflow: visible !important;
 word-wrap: break-word !important;
 white-space: -moz-pre-wrap !important;
 white-space: pre-wrap !important;
}

div.collapsable {
 border: 1pt dotted #BF8660;
 margin: 0.5em;
 padding-left: 15px;
 background: url(../images/collapsableOpen.gif) left top no-repeat #F9F9F9;
 background-position: 2px 2px;
 min-height: 1em;
}

div.collapsable.collapsed {
 background: url(../images/collapsableClosed.gif) left top no-repeat #F9F9F9;
 background-position: 2px 2px;
}

div.collapsable.hidden {
 background: url(../images/collapsableHidden.png) left top no-repeat #F9F9F9;
 background-position: 2px 2px;
}

div.collapsable>p:first-child {
/* like .meta */
 color: #BF8660;
 font-style: italic;
}

table {
  border-collapse: collapse;
  border-spacing: 1px;
  /* Fitnesse replaces newlines by <br />, but wysiwig doesn't */
  margin: 10px 0px !important;
}

td {
 border: 1px solid gray;
}
