iframe.wysiwyg {
    border: 1px solid #d7d7d7;
    clear: both;
    display: block;
    -moz-user-select: none;
    -webkit-user-select: none;
}
div.trac-resizable {
    clear: both;
}
iframe.wysiwyg:focus {
    border: 1px solid #886;
}
.editor-toggle {
    float: right;
    font-size: 80%;
    margin-top: 4px;
}
.editor-toggle label {
	float: none;
	display: inline;
}
.wysiwyg-toolbar {
    float: left;
    -moz-user-select: none;
    -webkit-user-select: none;
	margin-bottom: 4px;
}
.wysiwyg-toolbar ul, .wysiwyg-toolbar li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-indent: 0;
    font-size: .9em;
}
.wysiwyg-toolbar ul {
    border: 1px solid gray;
    border-radius: 10px;
    float: left;
    padding: 0 8px;
    margin-right: 8px;
}
.wysiwyg-toolbar ul#wm-style {
	border-radius: 2px;
	padding: 0;
}
.wysiwyg-toolbar li {
    display: block;
    float: left;
    background-color: white;
    border-left: 1px solid gray;
    padding: 0 1px;
}
.wysiwyg-toolbar li:first-child {
    display: inline;
    background-color: white;
    border-left: none;
}
.wysiwyg-toolbar li :link, .wysiwyg-toolbar li :visited {
    background: transparent url(menusprite.png) no-repeat;
    border: none;
    cursor: default;
    width: 32px;
    height: 22px;
    color: #777;
    display: block;
    float: left;
}
.wysiwyg-toolbar li.selected :link, .wysiwyg-toolbar li.selected :visited {
	border: 1px inset gray;
	width: 30px;
	height: 20px;
}
.wysiwyg-toolbar li a:hover, .wysiwyg-toolbar li.selected a:hover {
}
.wysiwyg-toolbar li a:active, .wysiwyg-toolbar li.selected a:active {
	border: 1px inset gray;
	width: 30px;
	height: 20px;
}

.wysiwyg-toolbar li a#wt-style {
    width: 78px;
    white-space: nowrap;
    overflow-x: hidden;
    line-height: 1.5;
    padding-left: 2px;
    padding-right: 2px;
    background-image: url(desc.png);
    background-position: right bottom;
}
.wysiwyg-toolbar li a#wt-style:active, .wysiwyg-toolbar li.selected a#wt-style:active {
	border: none;
	width: 78px;
	height: 22px;
}

.wysiwyg-toolbar li a#wt-style span {
    display: none;
    border-size: 1px;
}

.wysiwyg-toolbar li.wysiwyg-menu-style     a#wt-style span.wysiwyg-menu-style,
.wysiwyg-toolbar li.wysiwyg-menu-paragraph a#wt-style span.wysiwyg-menu-paragraph,
.wysiwyg-toolbar li.wysiwyg-menu-heading1  a#wt-style span.wysiwyg-menu-heading1,
.wysiwyg-toolbar li.wysiwyg-menu-heading2  a#wt-style span.wysiwyg-menu-heading2,
.wysiwyg-toolbar li.wysiwyg-menu-heading3  a#wt-style span.wysiwyg-menu-heading3,
.wysiwyg-toolbar li.wysiwyg-menu-heading4  a#wt-style span.wysiwyg-menu-heading4,
.wysiwyg-toolbar li.wysiwyg-menu-heading5  a#wt-style span.wysiwyg-menu-heading5,
.wysiwyg-toolbar li.wysiwyg-menu-heading6  a#wt-style span.wysiwyg-menu-heading6,
.wysiwyg-toolbar li.wysiwyg-menu-code      a#wt-style span.wysiwyg-menu-code {
    display: inline;
}

.wysiwyg-toolbar li a#wt-table    { background-position: 0px 0px; }
.wysiwyg-toolbar li a#wt-remove   { background-position: 0px -242px; }
.wysiwyg-toolbar li a#wt-strong   { background-position: 0px -264px; }
.wysiwyg-toolbar li a#wt-em       { background-position: 0px -286px; }
.wysiwyg-toolbar li a#wt-strike   { background-position: 0px -308px; }
.wysiwyg-toolbar li a#wt-link     { background-position: 0px -330px; }
.wysiwyg-toolbar li a#wt-unlink   { background-position: 0px -352px; }
.wysiwyg-toolbar li a#wt-hr       { background-position: 0px -374px; }
.wysiwyg-toolbar li a#wt-ul       { background-position: 0px -396px; }
.wysiwyg-toolbar li a#wt-indent   { background-position: 0px -418px; }
.wysiwyg-toolbar li a#wt-outdent  { background-position: 0px -440px; }
.wysiwyg-toolbar li a#wt-escape   { background-position: 0px -462px; }
.wysiwyg-toolbar li a#wt-unescape { background-position: 0px -484px; }

.wysiwyg-toolbar li a#wt-collapsable-closed { background-position: 0px -506px; }
.wysiwyg-toolbar li a#wt-collapsable-open   { background-position: 0px -528px; }
.wysiwyg-toolbar li a#wt-collapsable-hidden { background-position: 0px -550px; }
.wysiwyg-toolbar li a#wt-remove-collapsable { background-position: 0px -572px; }

.wysiwyg-toolbar li a#wt-add-table          { background-position: 0 0px; }
.wysiwyg-toolbar li a#wt-remove-table       { background-position: 0 -22px; }
.wysiwyg-toolbar li a#wt-insert-row-after   { background-position: 0 -44px; }
.wysiwyg-toolbar li a#wt-insert-row-before  { background-position: 0 -66px; }
.wysiwyg-toolbar li a#wt-insert-col-after   { background-position: 0 -88px; }
.wysiwyg-toolbar li a#wt-insert-col-before  { background-position: 0 -110px; }
.wysiwyg-toolbar li a#wt-insert-cell-after  { background-position: 0 -132px; }
.wysiwyg-toolbar li a#wt-insert-cell-before { background-position: 0 -154px; }
.wysiwyg-toolbar li a#wt-delete-row         { background-position: 0 -176px; }
.wysiwyg-toolbar li a#wt-delete-col         { background-position: 0 -198px; }
.wysiwyg-toolbar li a#wt-delete-cell        { background-position: 0 -220px; }

.wysiwyg-toolbar li a#wt-decorationmenu,
.wysiwyg-toolbar li a#wt-tablemenu
{
    width: 10px;
    background-image: url(desc.png);
    background-position: center bottom;
}

.wysiwyg-menu {
    border: 1px solid #d7d7d7;
    padding: 1px 2px;
    background-color: #fff;
    -moz-opacity: 0.90;
    opacity: 0.90;
}
.wysiwyg-menu p,
.wysiwyg-menu h1,
.wysiwyg-menu h2,
.wysiwyg-menu h3,
.wysiwyg-menu h4,
.wysiwyg-menu h5,
.wysiwyg-menu h6,
.wysiwyg-menu pre.wiki,
.wysiwyg-menu blockquote.citation {
    margin: 0px;
}
.wysiwyg-menu ul, .wysiwyg-menu li {
    list-style-type: none;
    text-indent: 0em;
    margin: 0px;
    padding: 0px;
}
.wysiwyg-menu :link, .wysiwyg-menu :visited {
    display: block;
    padding: 1px;
    border: 1px solid #fff;
    color: #000;
}
.wysiwyg-menu .selected :link, .wysiwyg-menu .selected :visited {
    border: 1px solid #7c4;
}
.wysiwyg-menu a:hover, .wysiwyg-menu .selected a:hover {
    border: 1px solid #fb2;
}
.wysiwyg-menu .menu {
    font-size: 85%;
}

.wysiwyg-toolbar .in-table {
	display: none;
}