
.wysiwyg {
    border: 1px solid #d7d7d7;
    display: block;
    outline: none;
}
textarea#pageContent {
    border: 1px solid #d7d7d7;
}

.wysiwyg {
    clear: both;
    overflow: scroll;
    padding: 0 4px;
}

.wysiwyg:focus {
    border: 1px solid #886;
}

.editor-toggle {
    float: right;
    font-size: 80%;
}
.editor-toggle label {
	float: none;
	display: inline;
}
.wysiwyg-toolbar {
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wysiwyg-toolbar ul,
.wysiwyg-toolbar li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-indent: 0;
    font-size: .9em;
}
.wysiwyg-toolbar ul {
    float: left;
    margin-right: 8px;
}
.wysiwyg-toolbar li {
    display: inline-block;
    background: white; /* Old browsers */
	background: -moz-linear-gradient(top, white 0%, #eee 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, white 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
    border: 1px solid gray;
    border-right: none;
    border-left-color: lightgray;
}
.wysiwyg-toolbar svg {
    vertical-align: bottom;
}

.wysiwyg-toolbar li a {
    display: inline-block;
    padding: 1px 8px;
    cursor: default;
}

.wysiwyg-toolbar li:first-child,
.wysiwyg-toolbar li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left-color: gray;
}
.wysiwyg-toolbar li:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid gray;
}
.wysiwyg-toolbar li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.wysiwyg-toolbar li a:hover,
.wysiwyg-toolbar li a:active,
.wysiwyg-toolbar li.selected a {
	/*border: 1px inset gray;*/
    background: #eee;
}

.wysiwyg-toolbar ul#wm-style a {
    border-radius: 2px;
    padding: 0;
}
.wysiwyg-toolbar ul#wm-style .wysiwyg-menu a {
    background-image: none;
    border: none;
}

.wysiwyg-toolbar li a#wt-style {
    width: 78px;
    white-space: nowrap;
    overflow-x: hidden;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: middle;
}
.wysiwyg-toolbar li a#wt-style:active {
	border: none;
}

.wysiwyg-toolbar li a#wt-style span {
    display: none;
    border-size: 1px;
}

.wysiwyg-toolbar li.wysiwyg-menu-style     a#wt-style span.wysiwyg-menu-style,
.wysiwyg-toolbar li.wysiwyg-menu-paragraph a#wt-style span.wysiwyg-menu-paragraph,
.wysiwyg-toolbar li.wysiwyg-menu-heading1  a#wt-style span.wysiwyg-menu-heading1,
.wysiwyg-toolbar li.wysiwyg-menu-heading2  a#wt-style span.wysiwyg-menu-heading2,
.wysiwyg-toolbar li.wysiwyg-menu-heading3  a#wt-style span.wysiwyg-menu-heading3,
.wysiwyg-toolbar li.wysiwyg-menu-heading4  a#wt-style span.wysiwyg-menu-heading4,
.wysiwyg-toolbar li.wysiwyg-menu-heading5  a#wt-style span.wysiwyg-menu-heading5,
.wysiwyg-toolbar li.wysiwyg-menu-heading6  a#wt-style span.wysiwyg-menu-heading6,
.wysiwyg-toolbar li.wysiwyg-menu-code      a#wt-style span.wysiwyg-menu-code {
    display: inline;
}

.wysiwyg-menu {
    border: 1px solid #d7d7d7;
    padding: 2px 4px;
    background-color: #fff;
    -moz-opacity: 0.90;
    opacity: 0.90;
    position: absolute;
}

.wysiwyg-menu p,
.wysiwyg-menu h1,
.wysiwyg-menu h2,
.wysiwyg-menu h3,
.wysiwyg-menu h4,
.wysiwyg-menu h5,
.wysiwyg-menu h6,
.wysiwyg-menu pre.wiki,
.wysiwyg-menu blockquote.citation {
    margin: 4px 0 0;
    border: none;
    background: none;
}
.wysiwyg-menu ul, .wysiwyg-menu li {
    list-style-type: none;
    text-indent: 0em;
    margin: 0px;
    padding: 0px;
}
.wysiwyg-menu :link, .wysiwyg-menu :visited {
    padding: 1px;
    border: 1px solid #fff;
    color: #000;
}
.wysiwyg-menu .selected :link, .wysiwyg-menu .selected :visited {
    border: 1px solid #7c4;
}
.wysiwyg-menu a:hover, .wysiwyg-menu .selected a:hover {
    border: 1px solid #fb2;
}
.wysiwyg-menu .menu {
    font-size: 85%;
}

.wysiwyg-toolbar .in-table {
	display: none;
}
