
textarea#pageContent {
    border: 1px solid #d7d7d7;
}

.wysiwyg {
    border: 1px solid #d7d7d7;
    display: block;
    clear: both;
    overflow: scroll;
    padding: 0 4px;
    outline: none;
}

.wysiwyg:focus {
    border: 1px solid #886;
}

.editor-toggle {
    float: right;
    font-size: 80%;
}
.editor-toggle label {
	float: none;
	display: inline;
}
.wysiwyg-toolbar {
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wysiwyg-toolbar ul,
.wysiwyg-toolbar li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-indent: 0;
    font-size: .9em;
}
.wysiwyg-toolbar ul {
    float: left;
    margin-right: 8px;
}
.wysiwyg-toolbar li {
    display: inline-block;
    background: white;
    border: 1px solid #adadad;
    border-right: none;
    border-left-color: lightgray;
    font-size: 12px;
    line-height: 1.5;
}
.wysiwyg-toolbar svg {
    vertical-align: bottom;
}

.wysiwyg-toolbar li a {
    display: inline-block;
    padding: 1px 8px;
    cursor: default;
}

.wysiwyg-toolbar li:first-child,
.wysiwyg-toolbar li:first-child a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left-color: #adadad;
}
.wysiwyg-toolbar li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #adadad;
}
.wysiwyg-toolbar li:last-child a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.wysiwyg-toolbar li a:hover,
.wysiwyg-toolbar li a:active,
.wysiwyg-toolbar li.selected a {
    background: #ebebeb;
}

.wysiwyg-toolbar ul#wm-style a {
    border-radius: 2px;
    padding: 0;
}
.wysiwyg-toolbar ul#wm-style .wysiwyg-menu a {
    background-image: none;
    border: none;
}

.wysiwyg-toolbar li a#wt-style {
    width: 78px;
    white-space: nowrap;
    overflow-x: hidden;
    vertical-align: middle;
    padding: 1px 5px;
}
.wysiwyg-toolbar li a#wt-style:active {
	border: none;
}

.wysiwyg-toolbar li a#wt-style span {
    display: none;
    border-size: 1px;
}

.wysiwyg-toolbar li.wysiwyg-menu-style     a#wt-style span.wysiwyg-menu-style,
.wysiwyg-toolbar li.wysiwyg-menu-paragraph a#wt-style span.wysiwyg-menu-paragraph,
.wysiwyg-toolbar li.wysiwyg-menu-heading1  a#wt-style span.wysiwyg-menu-heading1,
.wysiwyg-toolbar li.wysiwyg-menu-heading2  a#wt-style span.wysiwyg-menu-heading2,
.wysiwyg-toolbar li.wysiwyg-menu-heading3  a#wt-style span.wysiwyg-menu-heading3,
.wysiwyg-toolbar li.wysiwyg-menu-heading4  a#wt-style span.wysiwyg-menu-heading4,
.wysiwyg-toolbar li.wysiwyg-menu-heading5  a#wt-style span.wysiwyg-menu-heading5,
.wysiwyg-toolbar li.wysiwyg-menu-heading6  a#wt-style span.wysiwyg-menu-heading6,
.wysiwyg-toolbar li.wysiwyg-menu-code      a#wt-style span.wysiwyg-menu-code {
    display: inline;
}

.wysiwyg-menu {
    border: 1px solid #d7d7d7;
    padding: 2px 4px;
    background-color: #fff;
    -moz-opacity: 0.90;
    opacity: 0.90;
    position: absolute;
}

.wysiwyg-menu p,
.wysiwyg-menu h1,
.wysiwyg-menu h2,
.wysiwyg-menu h3,
.wysiwyg-menu h4,
.wysiwyg-menu h5,
.wysiwyg-menu h6,
.wysiwyg-menu pre.wiki,
.wysiwyg-menu blockquote.citation {
    margin: 4px 0 0;
    border: none;
    background: none;
}
.wysiwyg-menu ul, .wysiwyg-menu li {
    list-style-type: none;
    text-indent: 0em;
    margin: 0px;
    padding: 0px;
}
.wysiwyg-menu :link, .wysiwyg-menu :visited {
    padding: 1px;
    border: 1px solid #fff;
    color: #000;
}
.wysiwyg-menu .selected :link, .wysiwyg-menu .selected :visited {
    border: 1px solid #7c4;
}
.wysiwyg-menu a:hover, .wysiwyg-menu .selected a:hover {
    border: 1px solid #fb2;
}
.wysiwyg-menu .menu {
    font-size: 85%;
}

.wysiwyg-toolbar .in-table {
	display: none;
}

.image-selector {
    position: absolute;
    background-color: white;
    margin-top: 30px;
    border:1px solid red;
    z-index: 999;
    width: 300px;
    left: calc(50% - 150px);
}


.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
    display: none;
    /*-webkit-transition: opacity 400ms ease-in;*/
    /*-moz-transition: opacity 400ms ease-in;*/
    /*transition: opacity 400ms ease-in;*/
    pointer-events: none;
}

.modal-dialog:target {
    display: block;
    pointer-events: auto;
}

.modal-dialog > div {
    width: 400px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border: 1px solid #984D00
    border-radius: 3px;
    background: #fff;
    /*background: -moz-linear-gradient(#fff, #999);*/
    /*background: -webkit-linear-gradient(#fff, #999);*/
    /*background: -o-linear-gradient(#fff, #999);*/
}

.modal-dialog ul {
    border: 1px solid #eee;
    padding-left: 28px;
    height: 15em;
    overflow: auto;
    width: 370px;
}
.modal-dialog li {
    list-style: none outside;
    padding: 2px;
    cursor: pointer;
}
.modal-dialog li:nth-child(odd) {
    background: #fff
}
.modal-dialog li:nth-child(even) {
    background: #efefef
}
.modal-dialog li:hover {
    background: #dbeaf9;
}

.modal-dialog .directory {
    list-style-image: url('../images/folder.gif');
}

.modal-dialog .url {
    width: 100%
}