fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
label {
    display: inline-block;
    padding-right: 16px;
    text-align: right;
    width: 124px;
}
label input {
    margin-right: 8px;
}
.validationerror {
    color: maroon;
    margin: -6px 0 8px 140px;
    font-size: 0.9em
}
.buttons {
    margin-left: 145px; /* 140 + input field padding/border/margin */
}

/** Wiki pages (wiki, test, suite, report) **/
.wikiPage td,
.testPage td,
.suitePage td,
.testExecutionReport td,
.compareHistory td {
  white-space: pre-line;
}

/** Edit page **/
.editPage {
    overflow: hidden;
}

.editPage article {
    margin: 0;
}

.editPage #editor {
    margin: 8px 0 0 0;
}

.editPage #editor label {
	width: auto;
}
.editPage .edit_options label {
	width: auto;
}

.editPage #pagename,
.editPage #helptext {
	width: 55em;
	margin-bottom: 0.5em;
}
.editPage #pagetypes {
	margin: 0 0 0.5em 7em;
}
.editPage #pagetypes label {
	display: inline;
	float: none;
}
.editPage textarea, .editPage iframe {
	display: block;
	width: 100%;
	height: 32em;
    font-family: monospace;
}
.editPage textarea.no_wrap {
    overflow: scroll;
}
.editPage .edit_options {
	float: right;
}
.editPage #save_buttons {
    bottom: 0;
    margin-top: 16px;
    margin-bottom: 7px; /* buttons have 9px bottom padding */
    position: fixed;
}

.tagsinput {
    display: inline;
}
.tagsinput .tag {
    background-color: #F9F9F9;
    border: 1px dotted #BF8660;
    color: #BF8660;
    margin-right: 4px;
    padding: 2px;
    text-decoration: none;
}
.tagsinput .tag a {
    font-weight: bold;
    text-decoration: none;
    margin-left: 4px;
}
.tagsinput input {
    background: none repeat scroll 0 0 transparent;
    color: #000000;
    margin: 0 ;
    outline: 0 none;
    width: 80px;
}

/** Properties page / Search form / Directory page**/
.propertiesPage form,
.searchForm form,
.refactorForm form {
	padding-bottom: 1em;
	border-bottom: 1px solid #984D00;
}
.propertiesPage .properties,
.searchForm .properties {
    margin-left: 145px;
}
.propertiesPage .properties fieldset,
.searchForm .properties fieldset {
    display: inline-block;
    vertical-align: top;
	border: none;
}
.propertiesPage .properties label,
.searchForm .properties label {
	display: block;
    text-align: left;
}
legend {
	font-weight: bold;
	margin-bottom: 0.5em;
	padding: 0;
}
label input {
	margin-right: 0.5em;
}
label.checkbox {
	margin-left: 145px;
	width: auto;
}
#virtual-wiki-properties {
	margin-top: 1em;
}
#create-dir {
	width: 140PX;
}

/** Merge page **/
.mergePage #merge-new,
.mergePage #merge-old {
	float: left;
	width: 47%;
	margin-right: 1em;
}
.mergePage textarea {
	width: 100%;
	height: 32em;
}
.mergePage #merge-old textarea{
	background-color: #efefef;
}

/** Delete page confirmation dialog **/
.warning {
	color: maroon;
}

/** Test history **/
.testHistory td {
    white-space: pre;
}
.testHistory td a {
	text-decoration: none;
}

/** Test result **/
tr.scenario > td:first-child,
tr.exception > td:first-child {
	padding-left: 16px;
	background-image: url("../images/collapsibleOpen.png");
	background-position: 2px;
	background-repeat: no-repeat;
}
tr.scenario.closed > td:first-child,
tr.exception.closed > td:first-child {
	background-image: url("../images/collapsibleClosed.png");
}
tr.closed-detail {
	display: none;
}
tr.exception-detail {
    background-color: #ffffaa;
}
#test-summary, #progressBar {
	padding: 0.5em;
    padding-left: 1.5em;
    background-position: 0 0.3em;
}
#test-summaries ul {
	list-style: none;
	padding-left: 0;
}
#test_summaries h2, #test-summaries h3 {
	text-align: center;
}
#test-summaries .pass,
#test-summaries .fail,
#test-summaries .error,
span.error {
  padding: 0px 0px 0px 20px;
}
#test-summary.pass,
#test-summaries .pass {
  background-image: url("../images/checkmark.png");
  background-repeat: no-repeat;
}
#test-summary.fail,
#test-summaries .fail {
  background-image: url("../images/wrong.png");
  background-repeat: no-repeat;
}
#test-summary.error,
#test-summaries .error,
span.error {
  background-image: url("../images/exception.png");
  background-repeat: no-repeat;
}
#test-action .stop {
	background-color: red;
	color: white;
	font-weight: bold;
}
#test-action .error {
	background-color: red;
}
.test_output_name h3 {
	display: inline;
}

/** Suite overview */
.overview_results table {
    border: none;
}
.overview_bar {
    border: 1px solid black;
    height: 1.4em;
    margin: 0 -0.5px;
}
.overview_part {
    float: left;
    height: 1.4em;
    margin: 0;
    padding: 0;
}
.unrun {
    background-color: #FFF3B4;
}

.passed_tests, .unrun_tests, .failed_tests {
    background-repeat: no-repeat;
    margin: 0 4px;
    padding-left: 22px;
}
.passed_tests {
    background-image: url("../images/checkmark.png");
}
.unrun_tests {
    background-image: url("../images/exception.png");
}
.failed_tests {
    background-image: url("../images/wrong.png");
}

/** Virtual and import pages */
.virtual header {
	background-image: url("../images/virtualPage.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}
.imported header {
	background-image: url("../images/importedPage.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}

/** Test Execution report, backwards compatibility */
.collapse_rim {
  background: #F9F9F9;
  border: 1px dotted #909090;
}
.collapse_rim > a {
  padding-left: 16px;
  background: url(../images/collapsibleClosed.png) no-repeat scroll 0 2px transparent;
}
.collapse_rim.open > a {
  background: url(../images/collapsibleOpen.png) no-repeat scroll 0 2px transparent;
}

   