<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Agitar"
            id="com.agitar.eclipse.views">
      </category>
      <view
            name="Coverage Summary"
            icon="icons/coverage_summary.gif"
            category="com.agitar.eclipse.views"
            class="com.agitar.eclipse.coverage.CoverageSummaryView"
            id="com.agitar.eclipse.coverage.CoverageSummaryView">
      </view>
   </extension>
       
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="Agitar"
            class="com.agitar.eclipse.coverage.AgitatorProjectPropertiesPage"
            id="com.agitar.eclipse.coverage.agitatorPropertyPage">
      </page>
   </extension>       
   
  <extension point="org.eclipse.ui.preferencePages">
      <page
            name="Agitar"
            class="com.agitar.eclipse.coverage.CoveragePreferences"
            id="com.agitar.eclipse.coverage.Agitar">
      </page>
  </extension>		      
   
    <extension
         point="org.eclipse.ui.themes">
        <themeElementCategory label="Agitar Code Coverage" id="com.agitar.eclipse.coverage.presentation"/>
      <fontDefinition
            label="Coverage Ruler Text Font"
            defaultsTo="org.eclipse.jface.textfont"
            categoryId="com.agitar.eclipse.coverage.presentation"
            id="com.agitar.eclipse.coverage.textfont">
         <description>
The font used to display Agitator coverage information.
         </description>
      </fontDefinition>
	<colorDefinition 
		id="com.agitar.eclipse.coverage.passcolor" 
		categoryId="com.agitar.eclipse.coverage.presentation"
		label="Passing Coverage Color"
		value="212,255,212">
		<description>
This color is the background color used to show passing coverage.
		</description>
	</colorDefinition>     
	<colorDefinition 
		id="com.agitar.eclipse.coverage.failcolor" 
		categoryId="com.agitar.eclipse.coverage.presentation"
		label="Failing Coverage Color"
		value="255,212,212">
		<description>
This color is the background color used to show failing coverage.
		</description>
	</colorDefinition>   
		<colorDefinition 
		id="com.agitar.eclipse.coverage.darkpasscolor" 
		categoryId="com.agitar.eclipse.coverage.presentation"
		label="Selected Passing Coverage Color"
		value="232,255,232">
		<description>
This color is the background color used to show selected passing coverage.
		</description>
	</colorDefinition>     
		<colorDefinition 
		id="com.agitar.eclipse.coverage.darkfailcolor" 
		categoryId="com.agitar.eclipse.coverage.presentation"
		label="Selected Failing Coverage Color"
		value="255,232,232">
		<description>
This color is the background color used to show selectedfailing coverage.
		</description>
	</colorDefinition>     	 
   </extension>   
  <extension
         point="org.eclipse.ui.popupMenus">   
          <viewerContribution
            targetID="#CompilationUnitRulerContext"
            id="com.agitar.eclipse.coverage.ruler.context.actions">
            
 
       	<menu
            label="%Menu.codeCoverage"
            path="additions"
            id="com.agitar.eclipse.coverage.agitator.conextpopupmenu">
            <separator name="group0"/>
         </menu>     
           <action
            label="%Menu.clearCoverage"
            class="com.agitar.eclipse.coverage.ClearCoverageEditorAction"
            enablesFor="*"
            menubarPath="additions"
            id="com.agitar.eclipse.coverage.editor.action">
        </action>
       <action
               label="%Menu.codeCoverageColorsOnly"
               class="com.agitar.eclipse.coverage.CoverageColorsActionDelegate"
               enablesFor="*"
               style="radio"
               menubarPath="com.agitar.eclipse.coverage.agitator.conextpopupmenu/group0"
                id="com.agitar.eclipse.coverage.ruler.context.coverageFull">
         </action>        
         <action
               label="%Menu.codeCoverageFull"
               class="com.agitar.eclipse.coverage.CoverageFullActionDelegate"
               enablesFor="*"
               style="radio"
               menubarPath="com.agitar.eclipse.coverage.agitator.conextpopupmenu/group0"
               id="com.agitar.eclipse.coverage.ruler.context.coverageFull">
         </action>     
         <action
               label="%Menu.codeCoverageOff"
               class="com.agitar.eclipse.coverage.CoverageOffActionDelegate"
               enablesFor="*"
               style="radio"
               menubarPath="com.agitar.eclipse.coverage.agitator.conextpopupmenu/group0"
               id="com.agitar.eclipse.coverage.ruler.context.coverageFull">
         </action>    
                    
      </viewerContribution>
   </extension>
   
         <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaElement"
            id="com.agitar.eclipse.project.enableAgitation">
      	<menu
            label="%Menu.agitator"
            id="com.agitar.eclipse.project.agitator.popupmenu">
            <separator name="group0"/>
            <separator name="group1"/>
            <separator name="group2"/>
         </menu>
         <action
               label="%Menu.clearCoverage"
               class="com.agitar.eclipse.coverage.ClearCoverageAction"
               enablesFor="1"
               menubarPath="com.agitar.eclipse.project.agitator.popupmenu/group1"               
               id="com.agitar.eclipse.coverage.clearCoverageAction">
         </action>       
      </objectContribution>
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="com.agitar.eclipse.factory.actions.CompilationUnitEditorContext">
     	<menu
            label="%Menu.agitator"
            path="additions"
            id="com.agitar.eclipse.project.agitator.editorpopupmenu">
            <separator name="group0"/>
            <separator name="group1"/>
            <separator name="group2"/>
            <separator name="group3"/>
         </menu>  
         <action
               label="%Menu.clearCoverage"
               class="com.agitar.eclipse.coverage.ClearCoverageAction"
               enablesFor="1"
                menubarPath="com.agitar.eclipse.project.agitator.editorpopupmenu/group2"
               id="com.agitar.eclipse.coverage.ClearCoverageAction">
            <selection
                  class="org.eclipse.jface.text.ITextSelection">
            </selection>
         </action>        
   
      </viewerContribution>      
   </extension>
   
      <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Coverage Action Sets"
            visible="true"
            id="com.agitar.eclipse.coverage.CoverageActionSet">    
        <menu
            label="%Menu.agitator"
            id="agitatorMenu">
            <separator name="group0"/>
            <separator name="group1"/>
            <separator name="group2"/> 
            <separator name="group3"/>    
            <separator name="group4"/>     
            <separator name="group5"/>  
         </menu>                   
         <action
               label="%Menu.clearCoverageForProject"
               class="com.agitar.eclipse.coverage.ClearCoverageAction"
                menubarPath="agitatorMenu/group1"
               id="com.agitar.eclipse.coverage.clearCoverageAction">
         </action>     
     </actionSet>
   </extension>
   
       <extension point="org.eclipse.jdt.core.classpathVariableInitializer">
        <classpathVariableInitializer 
            variable="AGITATOR_ASM"
			class="com.agitar.eclipse.coverage.variables.AgitarASMVariableInitializer"/>
	</extension>

  <extension point="org.eclipse.jdt.junit.testRunListeners">
    <testRunListener class="com.agitar.eclipse.coverage.AgitatorTestRunListener"/>
  </extension>

</plugin>
