<div id="addChildPopup" class="popup_window">
  <div class="popup_title">Add Child Page to $page_name</div>
  <div class="popup_content">
    <form action="$full_path" method="get">
      <input type="hidden" name="responder" value="addChild"/>

      <fieldset class="page_type">
        <input type="radio" name="pageType" value="Normal" id="pt-normal"/><label for="pt-normal">Normal</label><br/>
        <input type="radio" name="pageType" value="Test" id="pt-test"/><label for="pt-test">Test</label><br/>
        <input type="radio" name="pageType" value="Suite" id="pt-suite"/><label for="pt-suite">Suite</label><br/>
        <input type="radio" name="pageType" value="Default" id="pt-default" checked="checked"/><label for="pt-default">Default</label><br/>
      </fieldset>

      <fieldset>
        <label for="childName">Name</label>
        <input size="50" id="childName" type="text" name="name"/>

        <label for="childContent">Content</label>
        <input size="50" id="childContent" type="text" name="content" value="!contents"/>
      </fieldset>

      <fieldset class="buttons">
        <input type="button" VALUE="Cancel" onclick="popdown('addChildPopup')"/>
        <input value="Add" type="submit"/>
      </fieldset>
    </form>
  </div>
</div>
