#set ($page_title="History Comparison")
#parse("pageHead.vm")
#if($resultContent)


#foreach($result in $resultContent)
<table>
  <tr>
    <td class=$result>"Pass/Fail"</td>
    <td>"$firstTables[$count]"</td>
    <td>"$secondTables[$count]"</td>
#set ($count = $count + 1)
  </tr>
</table>
#end
#else
<h2>Comparison Failed: $pageTitle.Title</h2>
#end
  #parse("pageFooter.vm")