#set ($page_title="History Comparison")
#parse("pageHead.vm")
#if($resultContent)

#set($Header ="" )
#set($passfail = "fail")
  #if($completeMatch)
      #set($Header = "A Complete Match")
      #set($passfail = "pass")
  #else
    #set($Header = "Something Didn't Match")
  #end
<table>
  <tr>
    <td class=$passfail>
        $Header
    </td>
  </tr>
</table>

#set($score = "")
<table>
  <tr>
    <td>"Scores"</td>
    <td>$firstFileName</td>
    <td>$secondFileName</td>
  </tr>
  #set ($matched = "Match")
#foreach($result in $resultContent)
   #set($score = $comparer.findScoreByFirstTableIndexAsStringAsPercent($count))
  <tr>
    #if($result.equals("pass"))
      #set($matched = "Match. Score: " + $score + "%")
    #else
      #set($matched = "Not a match. Score: " + $score + "%")
    #end 
    <td class=$result>$matched</td>
    #set ($firstTable = $firstTables.get($count))
    #set ($secondTable = $secondTables.get($count))
    <td>$firstTable</td>
    <td>$secondTable</td>
    #set ($count = $count + 1)
  </tr>

#end
 </table>
#else
<h2>Comparison Failed: $pageTitle.Title</h2>
#end
  #parse("pageFooter.vm")