<div class="main">
 <div class="centered">

  <h3>
 #if( $deleteSubPages )Warning, this page contains one or more subpages.<br/>#end
 Are you sure you want to delete $pageName?</h3>
  <br/>
  <center>
   <table class="confirmation-form">
    <tr>
     <td class="confirmation-form">
      <form method="POST" action="$pageName?responder=deletePage&confirmed=yes" name="deletePageYesForm">
       <input type="submit" name="deletePageYesSubmit" value="Yes"/>
      </form>
     </td>
     <td class = "confirmation-form">
      <form method="POST" action="$pageName" name="deletePageNoForm">
	 <input type="submit" name="deletePageYesSubmit" value="No"/>
      </form>
     </td>
    </tr>
   </table>
  </center>
  <br/>
 </div>
</div>
