## ... for deleting files and directories
<div class="main">
 Are you sure you would like to delete <b>$filename</b>
 #if( $isDir ) and all $nFiles files inside?#end
 <br/><br/><br/>
 <form method="get" action="">
  <input type="submit" name="" value="Yes" accesskey="y"/>
  <input type="hidden" name="responder" value="deleteFile"/>
  <input type="hidden" name="filename" value="$filename"/>
 </form>
 <form method="get" action="">
  <input type="submit" name="" value="No" accesskey="n"/>
 </form>
</div>
