<form method="post" action="$action" name="f">
 <input type="hidden" name="responder" value="saveData"/>
 <input type="hidden" name="editTime" value="$editTime"/>
 <input type="hidden" name="ticketId" value="$ticketId"/>
#if($!redirect)
 <input type="hidden" name="redirect" value="$redirect"/>
#end
 <textarea id="textarea" class="wikitext pageContent no_wrap" wrap="off" tabindex="1" cols="70" rows="30" id="pageContentId" name="pageContent">$pageContent</textarea>


 <input id="save_button" type="submit" name="save" value="Save" tabindex="2" accesskey="s"/>
 <span id="edit_buttons">
  <script src="/files/javascript/SpreadsheetTranslator.js" type="text/javascript"></script>
  <script src="/files/javascript/spreadsheetSupport.js" type="text/javascript"></script>
  <script src="/files/javascript/WikiFormatter.js" type="text/javascript"></script>
  <script src="/files/javascript/wikiFormatterSupport.js" type="text/javascript"></script>
 </span>
</form>

<p class="hints">Hints:</p>
<ul>
 <li>Use alt+s (Windows) or control+s (Mac OS X) to save your changes. Or, tab from the text area to the "Save" button!</li>
 <li>Grab the lower-right corner of the text area to increase its size (works with some browsers).</li>
</ul>

<script type="text/javascript">
 $(function() {
  document.f.pageContent.focus();

  setTimeout(function() {
    function toggle_edit_buttons(type) {
      if (type == "textarea") {
        $("#edit_buttons").show();
      } else {
        $("#edit_buttons").hide();
      }
    };

    var editors = Wysiwyg.initialize();
    toggle_edit_buttons(editors[0].activeEditor());
    $('#editor-wysiwyg-1,#editor-textarea-1').click(function() {
      toggle_edit_buttons($(this).val());
    });

  }, 10);
 });
</script>
