#set( $link = "" )
#foreach( $crumb in $crumbs )
#if( $foreach.hasNext() )
#if( $link == "" )
#set( $link = "/" + $crumb )
#else
#set( $link = $link + "." + $crumb )
#end
<a href="$link">$crumb</a>.
#else
#set( $pageTitle = $crumb )
#set( $pageTitleLink = $link + "." + $crumb )
#if( $!pageTitleAsLink )
<br/><a href="$pageTitleLink" class="page_title">$pageTitle</a>
#else
<br/><span class="page_title">$pageTitle</span>
#end
#end
#end
#if( $!pageType )<br/><span class="page_type">$pageType</span>
#end
