<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
 <head>
  <base href="$baseUri"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>$pageTitle</title>
  <link rel="stylesheet" type="text/css" href="/files/css/fitnesse_print.css" media="screen"/>
  <script language="javascript">
function localizeInPageLinks()
{
 var base = document.getElementsByTagName('base')[0].href;
 var inPageBase = base + "#";
 var baseLength = inPageBase.length
 var aTags = document.getElementsByTagName('a');
 for(var i=0; i < aTags.length; i++)
 {
  var tag = aTags[i];
  if(tag.href && tag.href.substring(0, baseLength) == inPageBase)
   tag.href = location.href + '#' + tag.href.substring(baseLength);
 }
}
</script>
 </head>
 <body onload="localizeInPageLinks()">

  #parse( "sidebar.vm" )

  <div class="mainbar">

    #if( $pageTitle )
     #parse( "pageTitle.vm" )
    #else
     $!headerSection
    #end
    
    ## parse Html tree
    #if( $mainTemplate )
     #parse( $mainTemplate )
    #else
     $!mainSection
    #end
    
<!--
 Do Dynamic stuff in here

<div id="test-summary">Running Tests ...</div>
<div class="test_summaries" id="test_summaries">
 <h2 class="centered">Test Summaries</h2>
</div>
<script>document.getElementById("test-summary").innerHTML = "<strong>Test Pages:</strong> 0 right, 0 wrong, 0 ignored, 0 exceptions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Assertions:</strong> 0 right, 0 wrong, 0 ignored, 0 exceptions ";document.getElementById("test-summary").className = "error";</script>
 -->
  </div>
 </body>
</html>
