<html>
<head>
  <title>$page_title</title>
  <link rel="stylesheet" type="text/css" href="/files/css/fitnesse.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/files/css/fitnesse_print.css" media="print"/>
  <script src="/files/javascript/fitnesse.js" type="text/javascript"></script>
</head>
<body#if($load_actions) onload="$load_actions"#end>

<div class="sidebar">
  <div class="art_niche" onclick="document.location='FrontPage'"></div>
  <div class="actions"></div>
</div>
<div class="mainbar">
  #if($pageTitle)#parse("pageTitle.vm")#end
  <div class="main">
