#macro( checked $attr )#if( $pageData.hasAttribute($attr) ) checked="true"#end#end
#macro( value $prop ) value="$!{pageData.getAttribute( $prop )}"#end
<div class="main">
 <div class="right">$lastModified</div>
 <form method="post" action="">
  <input type="hidden" name="responder" value="saveProperties"/>
  <div style="width:100%">
   <div class="properties">
    <div style="float: left; width: 150px;">Page type: <br/>
     #foreach( $pageType in $pageTypes )
     <input type="radio" name="PageType" value="$pageType"#if( $pageType == $selectedPageType) checked="checked"#end/> - $pageType
     <br/>
     #end
     <br/>
     <input type="checkbox" name="Prune"#checked( "Prune" )/> - Skip (Recursive)
    </div>
    <div style="float: left; width: 180px;">Actions:<br/>
     #foreach( $action in $actionTypes )
     <input type="checkbox" name="$action"#checked( $action )/> - $action
     <br/>
     #end
    </div>

    <div style="float: left; width: 180px;">Navigation:<br/>
     #foreach( $navigation in $navigationTypes )
     <input type="checkbox" name="$navigation"#checked( $navigation )/> - $navigation
<br/>
     #end
    </div>
    <div style="float: left; width: 180px;">Security:<br/>
     #foreach( $security in $securityTypes )
     <input type="checkbox" name="$security"#checked( $security )/> - $security
<br/>
     #end
    </div>
   </div>
   <div class="virtual-wiki-properties">
    <div style="float: left; width: 450px;">VirtualWiki URL: 
     <span style="color: #FF0000;">(DEPRECATED)</span><br/>
     <input type="text" name="VirtualWiki" value="$!virtualWikiValue" size="40"/>
     </div>
    <div style="float: left; padding-right: 5px">
     <div style="float: left;">Tags:<br/>
      <input type="text" name="Suites"#value( "Suites" ) size="40"/>
     </div>
    </div>
    <div style="float: left;">Help Text:<br/>
     <input type="text" name="HelpText"#value( "Help" ) size="90"/>
    </div>
   </div>
  </div>
  <div><br/>
   <input type="submit" name="Save" value="Save Properties" accesskey="s"/>
  </div>
 </form>
 <form method="post" action="">
  <hr/>
  #if ( $makeImportForm )
  Wiki Import.  Supply the URL for the wiki you'd like to import.<br/>
  Remote Wiki URL:
  <input type="text" name="remoteUrl" size="70"/>
  <br/>
  #set( $submitMsg = "Import" )
  #elseif( $makeImportRootForm )
  <b>Wiki Import Update</b>
  <br/>
  <a href="$pageTitle.title">$pageTitle.title</a>
  imports its subpages from
  <a href="$sourceUrl">$sourceUrl</a>.<br/>
  #set( $submitMsg = "Update Subpages" )
  #elseif( $makeImportSubpageForm )
  <b>Wiki Import Update</b>
  <br/>
  <a href="$pageTitle.link">$pageTitle.title</a> imports its content and subpages from
  <a href="$sourceUrl">$sourceUrl</a>.<br/>
  #set( $submitMsg = "Update Content and Subpages" )
  #end
  <input type="checkbox" name="autoUpdate"#if( $autoUpdate ) checked="checked"#end/>
  - Automatically update imported content when executing tests<br/>
  <input type="hidden" name="responder" value="import"/>
  <input type="submit" name="save" value="$submitMsg"/>
 </form>
 <form method="get" action="" name="symbolics"><hr/>
  <input type="hidden" name="responder" value="symlink"/>
  <strong>Symbolic Links</strong>
  <table border="0" cellspacing="0" class="dirListing" style="width:80%">
   <tr style="background-color: #EFEFEF;">
    <td>
     <strong>Name</strong>
    </td>
    <td>
     <strong>Path to Page</strong>
    </td>
    <td style="text-align: right;">
     <strong>Actions</strong>
    </td>
   </tr>
   #foreach( $symlink in $symlinks )
   <tr style="background-color: #FFFFFF;">
    <td>$symlink.name</td>
    <td>
     #if( $symlink.path )
     <a href="$symlink.path">$symlink.link</a>
     #else
     $symlink.link
     #end
    </td>
    <td>
     <a href="?responder=symlink&removal=$symlink.name">Unlink</a> <a href="javascript:symbolicLinkRename('$symlink.name','$pageTitle.link');">Rename:</a>
    </td>
    <td style="text-align: right;">
     <input type="text" name="$symlink.name" size="16%"/>
    </td>
   </tr>
   #end
   <tr style="background-color: #FFFFFF;">
    <td>
     <input type="text" name="linkName" size="16%"/>
    </td>
    <td>
     <input type="text" name="linkPath" size="60%"/>
    </td>
    <td style="text-align: right;">
     <input type="submit" name="submit" value="Create/Replace" style="width:8em"/>
    </td>
   </tr>
  </table>
 </form>
</div>


