<div class="main">
 <form method="post" action="">
  <input type="hidden" name="responder" value="renameFile"/>
Rename <b>$filename</b> to <br/><br/><br/>
  <input type="text" name="newName" value="$filename"/>
  <input type="submit" name="renameFile" value="Rename"/>
  <input type="hidden" name="filename" value="$filename"/>
 </form>
</div>
