<div class="main">
 <script src="/files/javascript/clientSideSort.js"> </script>
 <div id="feedback">Searching...</div>
 <table id="searchResultsTable" cellspacing="0" cellpadding="0" border="0" class="dirListing">
  <thead>
   <tr>
    <td class="resultsHeader">
     <a href="javascript:void(tableSorter.sort(0));">Test</a>
    </td>
    <td class="resultsHeader">
     <a href="javascript:void(tableSorter.sort(1));">Page</a>
    </td>
    <td class="resultsHeader">
     <a href="javascript:void(tableSorter.sort(2));">Tags</a>
    </td>
    <td class="resultsHeader">
     <a href="javascript:void(tableSorter.sort(3, 'date'));">LastModified</a>
    </td>
   </tr>
  </thead>
  <tbody> 

##  $search.performSearch()
<!--BREAKPOINT-->

  </tbody>
 </table>
 <script language="javascript">tableSorter = new TableSorter('searchResultsTable', new DateParser(/^(\w+) (jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec) (\d+) (\d+).(\d+).(\d+) (\w+) (\d+)$/,8,2,3,4,5,6));</script>

<hr/>				<h4>To save this search as a link, paste the text below into a page.</h4>
				<pre>[[Search below !-$page.getName()-! for &lt;description&gt;][$page.getPageCrawler().getFullPath($page)?$request]]</pre>

</div>
