<div class="sidebar">
 <a name="art_niche" href="FrontPage" class="art_niche"> </a>
 <div class="actions">
  #if( $!actions )

  #if( $actions.suitePage )
  <a href="$localPath?suite" accesskey="">Suite</a>
  #end
  #if( $actions.testPage )
  <a href="$localPath?test" accesskey="t">Test</a>
  #end
  #if( $actions.withEdit )
  <a href="$localOrRemotePath?edit" accesskey="e">Edit</a>
  #end
  #if( $actions.withProperties )
  <a href="$localOrRemotePath?properties" accesskey="p">Properties</a>
  #end
  #if( $actions.withAddChild )
  <a onclick="popup('addChildPopup')">New Page</a>
  #end
  #if( $actions.withRefactor )
  <a href="$localOrRemotePath?refactor" accesskey="r">Refactor</a>
  #end
  #if( $actions.withWhereUsed )
  <a href="$localOrRemotePath?whereUsed" accesskey="w">Where Used</a>
  #end
  #if( $actions.withSearch )
  <a href="?searchForm" accesskey="s">Search</a>
  #end
  #if( $actions.withFiles )
  <a href="/files" accesskey="f">Files</a>
  #end
  #if( $actions.withVersions )
  <a href="$localOrRemotePath?versions" accesskey="v">Versions</a>
  #end
  #if( $actions.withRecentChanges )
  <a href="/RecentChanges" accesskey="">Recent Changes</a>
  #end
  #if( $actions.withUserGuide )
  <a href=".FitNesse.UserGuide" accesskey="">User Guide</a>
  #end
  #if( $actions.withPageHistory )
  <a href="$localPath?pageHistory">Page History</a>
  #end
  #if( $actions.withTestHistory )
  <a href="?testHistory">Test History</a>
  #end
  #if( $actions.withRollback )
  <a href="$localPath?responder=rollback&version=$rollbackVersion">Rollback</a>
  #end
  ## Wiki import properties
  #if( $actions.withEditLocally )
  <a href="$localPath?edit" accesskey="e">Edit Locally</a>
  #end
  #if( $actions.withEditRemotely )
  <a href="$sourceUrl?responder=edit&amp;redirectToReferer=true&amp;redirectAction=importAndView">Edit Remotely</a>
  #end

 #end
 </div>
</div>
