#set ($page_title="Suite Overview")
#parse("pageHead.vm")

#if($treeRoot)
	#set ($branch=$treeRoot)
	#if ($branch.branches.size()==1)
	  #set ($branch=$branch.getBranches().get(0))
	  <div class="overview_overview">
	  <h2>Results Summary</h2>
		  <div class="overview_results">
		  		<table>
				<tr>
				 <td colspan="4">
					  <div class="overview_bar">
						  <div style="width: $branch.getPassedPercent()%;" class="pass overview_part"></div>
						  <div style="width: $branch.getUnrunPercent()%;" class="unrun overview_part"></div>
						  <div style="width: $branch.getFailedPercent()%;" class="fail overview_part"></div>
					  </div>
				 </td>
				</tr>
				<tr>
					<td class="passed_tests"/>
					<td>$branch.getTestsPassed() </td>
					<td>($branch.getPassedPercent()%)</td>
					<td> Test(s) Passed </td>
				</tr>
				<tr>
					<td class="unrun_tests"/>
					<td>$branch.getTestsUnrun()</td>
					<td>($branch.getUnrunPercent()%)</td>
					<td> Test(s) Not Run </td>
				</tr>
				<tr>
					<td class="failed_tests"/>
					<td>  $branch.getTestsFailed() </td>
					<td> ($branch.getFailedPercent()%)</td>
					<td>Test(s) Failed </td>
				</tr>
				</table>
		  </div>
	  </div>
	  <div>
	  <h2>Detailed Results</h2> 	  
	  <span class="meta $branch.getCssClass()">$branch.getName()</span>	  	  
	  <span> 
	  	(<a href="javascript:expandAll();">Expand</a> |
	  	<a href="javascript:collapseAll();">Collapse</a>)
	  </span>
	  
	  
	  <div>
	  	#parse("suiteOverviewNode.vm")
	  </div>
	  </div>
	#else
		#parse("suiteOverviewNode.vm")
	#end
#else
  <h2>Sorry no information: $pageTitle.Title</h2>
#end

#parse("pageFooter.vm")
