#foreach($branch in $branch.getBranches())
  #if ($branch.isTest())
    <div class="completion_test"><a href="$branch.getHistoryUrl()" class="$branch.getCssClass()">$branch.getName()</a></div>
  #else
  	
  	<div>
	  	<a href="javascript:toggleCollapsable('$branch.getFullName()');">
			<img id="img$branch.getFullName()" class="left" src="/files/images/collapsableClosed.gif">
		</a>  	
	  	<div class="meta completion_folder"><span class="$branch.getCssClass()"> <a href="$branch.getHistoryUrl()" class="$branch.getCssClass()">$branch.getName()</a></span>  (
		  	#if ($branch.getTestsPassed() != 0)
			  	 <span class="passed_tests"> $branch.getTestsPassed() &nbsp; $branch.getPassedPercentString()</span>
			#end
		  	#if ($branch.getTestsUnrun() != 0)
			  	 <span class="unrun_tests">$branch.getTestsUnrun() &nbsp; $branch.getUnrunPercentString()</span>
			#end
		  	#if ($branch.getTestsFailed() != 0)
			  	 <span class="failed_tests">$branch.getTestsFailed() &nbsp; $branch.getFailedPercentString()</span>
			#end
			)
		</div>
		<div id="$branch.getFullName()" class="hidden">      
		#parse("suiteOverviewNode.vm")
		</div>
	</div>
  #end
#end
