<?xml version="1.0"?>
<testResults>
  <FitNesseVersion>$response.Version</FitNesseVersion>
  <rootPath>$response.RootPath</rootPath>
  #foreach ($result in $response.Results)

  <result>
    <counts>
      <right>$result.Right</right>
      <wrong>$result.Wrong</wrong>
      <ignores>$result.Ignores</ignores>
      <exceptions>$result.Exceptions</exceptions>
    </counts>
    <content><![CDATA[$result.Content]]></content>
    <relativePageName>$result.RelativePageName</relativePageName>
    #if($result.Tags)
    <tags>$result.Tags</tags>
    #end

    #if($result.Tables)
    <tables>
      #foreach($table in $result.Tables)
      <table>
        <name>$table.Name</name>
        #foreach($row in $table)
        <row>
          #foreach($col in $row)
          <col><![CDATA[$col]]></col>
          #end

        </row>
        #end

      </table>
      #end

    </tables>
    #end

    #if($result.Instructions.size() > 0)

    <instructions>
      #foreach($instructionResult in $result.Instructions)
      <instructionResult>
        <instruction><![CDATA[$instructionResult.Instruction]]></instruction>
        <slimResult><![CDATA[$instructionResult.SlimResult]]></slimResult>
        #foreach($expectation in $instructionResult.Expectations)
        <expectation>
          <status>$expectation.Status</status>
          <instructionId>$expectation.InstructionId</instructionId>
          <col>$expectation.Col</col>
          <row>$expectation.Row</row>
          <type>$expectation.Type</type>
          #if($expectation.Actual)
          <actual><![CDATA[$expectation.Actual]]></actual>
          #end
          #if($expectation.Expected)
          <expected><![CDATA[$expectation.Expected]]></expected>
          #end
          #if($expectation.EvaluationMessage)
          <evaluationMessage><![CDATA[$expectation.EvaluationMessage]]></evaluationMessage>
          #end
        </expectation>
        #end

      </instructionResult>
      #end

    </instructions>
    #end

  </result>
  #end

  #if($response.FinalCounts)

  <finalCounts>
    <right>$response.FinalCounts.Right</right>
    <wrong>$response.FinalCounts.Wrong</wrong>
    <ignores>$response.FinalCounts.Ignores</ignores>
    <exceptions>$response.FinalCounts.Exceptions</exceptions>
  </finalCounts>
  #end

</testResults>

