#set ($page_title="Test Execution Report")
#parse("pageHead.vm")
#if($testExecutionReport)
<table border="1" cellspacing="0">
  <tr>
    <td>$testExecutionReport.Date</td>
    <td class="meta">FitNesse Version: $testExecutionReport.Version</td>
  </tr>
</table>

#foreach($testResult in $testExecutionReport.Results)
<p/>
<hr/>
<p/>
<table border="1" cellspacing="0">
  <tr class="$testExecutionReport.summaryClass($testResult.TestSummary)">
    <td>
      <strong><span STYLE="font-size: 16pt">
        <a name="$testResult.RelativePageName">$testResult.RelativePageName</a>
      </span></strong>
    </td>
    <td class="numeric">
      $testResult.Right Right
    </td>
    <td class="numeric">
      $testResult.Wrong Wrong
    </td>
    <td class="numeric">
      $testResult.Ignores Ignores
    </td>
    <td class="numeric">
      $testResult.Exceptions Exceptions
    </td>
    #if($testExecutionReport.hasRunTimes())
    <td class="numeric">
      $testResult.runTimeInMillis ms
    </td>
    #end
  </tr>
</table>
<div>$testResult.Content</div>
#end
#end
  #parse("pageFooter.vm")