<div class="main">
 <h3>Select a version.</h3>
 <form action="" method="GET">
  <input type="hidden" name="responder" value="viewVersion"/>
  <table cellspacing="0">
   <thead>
    <tr>
     <th>&nbsp;</th>
     <th>Name</th>
     <th>Author</th>
     <th>Age</th>
    </tr>
   </thead>
   <tbody>
    #foreach( $version in $versions )
    <tr>
     <td>
      <input type="radio" name="version" value="$version.name"/>
     </td>
     <td>$version.name</td>
     <td>$version.author</td>
     <td>$version.age</td>
    </tr>
    #end
   </tbody>
  </table>
  <input type="submit" name="save" value="View Version"/>
 </form>
</div>

