#set( $localPath = $actions.localPageName )
#set( $localOrRemotePath = $actions.localOrRemotePageName )
#set( $openInNewWindow = $actions.newWindowIfRemote )
<ul>
 #if( $actions.suitePage )
 <li><a href="$localPath?suite" accesskey="">Suite</a></li>
 #end
 #if( $actions.testPage )
 <li><a href="$localPath?test" accesskey="t">Test</a></li>
 #end
 #if( $actions.withEdit )
 <li><a href="$localOrRemotePath?edit" accesskey="e">Edit</a></li>
 #end
 #if( $actions.withEdit && $actions.imported )
 <li><a href="$localPath?edit" accesskey="e">Edit Locally</a></li>
 #end
 #if( $actions.withEdit && $actions.imported )
 <li><a href="$sourceUrl?responder=edit&amp;redirectToReferer=true&amp;redirectAction=importAndView">Edit Remotely</a></li>
 #end
 <li id="tools"><a href="#" class="label">Tools</a>
  <ul>
  #if( $actions.withAddChild )
   <li><a href="$localOrRemotePath?new" accesskey="n">New Page</a></li>
  #end
  #if( $actions.withProperties )
   <li><a href="$localOrRemotePath?properties" accesskey="p">Properties</a></li>
  #end
  #if( $actions.withWhereUsed )
   <li><a href="$localOrRemotePath?whereUsed" accesskey="w">Where Used</a></li>
  #end
  #if( $actions.withVersions )
   <li><a href="$localOrRemotePath?versions" accesskey="v">Versions</a></li>
  #end
  <li><hr/></li>
  #if( $actions.withRefactor )
   <li><a href="$localOrRemotePath?refactor" accesskey="r">Refactor</a></li>
  #end
#*  #if( $actions.withRefactor )
   <li><a href="$localOrRemotePath?refactor" accesskey="r">Rename</a></li>
  #end
  #if( $actions.withRefactor )
   <li><a href="$localOrRemotePath?refactor" accesskey="r">Move</a></li>
  #end
  #if( $actions.withRefactor )
   <li><a href="$localOrRemotePath?refactor" accesskey="r">Replace</a></li>
  #end
  #if( $actions.withRefactor )
   <li><a href="$localOrRemotePath?refactor" accesskey="r">Delete</a></li>
  #end
  *#
  <li><hr/></li>
  #if( $actions.withFiles )
   <li><a href="/files" accesskey="f">Files</a></li>
  #end
  #if( $actions.withSearch )
   <li><a href="?searchForm" accesskey="s">Search</a></li>
  #end
  #if( $actions.withRecentChanges )
   <li><a href="/RecentChanges" accesskey="">Recent Changes</a></li>
  #end
  <li><hr/></li>
  #if( $actions.withPageHistory )
   <li><a href="$localPath?pageHistory">Page History</a></li>
  #end
  #if( $actions.withTestHistory )
   <li><a href="?testHistory">Test History</a></li>
  #end
  <li><hr/></li>
  #if( $actions.withUserGuide )
   <li><a href=".FitNesse.UserGuide" accesskey="">User Guide</a></li>
  #end
  </ul>
</ul>
