<ol class="breadcrumb">
#foreach($breadCrumb in $pageTitle.BreadCrumbs)
 <li><a href="${contextRoot}$breadCrumb.Link">$breadCrumb.Name</a></li>
#end
 #if($pageTitle.Link)<li><a href="${contextRoot}$pageTitle.Link">$pageTitle.Title</a></li>#end
</ol>

