<ol class="page-actions btn-group">
 <li class="expandall btn btn-xs">Expand All</li>
 <li class="collapseall btn btn-xs">Collapse All</li>
</ol>

<ol class="breadcrumb">
#foreach($breadCrumb in $pageTitle.BreadCrumbs)
 <li><a href="${contextRoot}$breadCrumb.Link">$breadCrumb.Name</a></li>
#end
#if($pageTitle.Link)
 <li><a href="/$pageTitle.Link">$pageTitle.Title</a></li>
#else
 <li>$pageTitle.Title #if($pageTitle.pageTags) #foreach($tag in $!pageTitle.pageTagsArray)<span class="tag">$tag</span>#end#end</li>
#end
</ol>
